Code/node-red-s4/local/flows.json
[
    {
        "id": "9b8cd6c6ae9cb52d",
        "type": "tab",
        "label": "M1-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec787adfaf8fa800",
        "type": "tab",
        "label": "M1-3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c3da786e1ee16ef3",
        "type": "tab",
        "label": "M1-4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb433892319f1ad4",
        "type": "tab",
        "label": "M2-1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ca271d5e1c89de0",
        "type": "tab",
        "label": "Attendance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd81eb1e651c8a36",
        "type": "tab",
        "label": "M2-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0a11252d06151b73",
        "type": "tab",
        "label": "M3-1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "104366dc2eeedf3c",
        "type": "tab",
        "label": "M4-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c4d2921aaef2e08f",
        "type": "tab",
        "label": "M4-3 ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "026a4bba776c38d1",
        "type": "tab",
        "label": "M5-1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "93d9394627368a1b",
        "type": "tab",
        "label": "M5-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb86460367c7bbad",
        "type": "group",
        "z": "c3da786e1ee16ef3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "521279ae28f2789a",
            "396e5beed2443084",
            "1d155914e24e1bf2",
            "cbd2afac3df63b65",
            "41f1fe4e8e4366b6"
        ],
        "x": 24,
        "y": 39
    },
    {
        "id": "05bb53d42b667096",
        "type": "group",
        "z": "bb433892319f1ad4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1ba39654f67a1047",
            "eb99bf335c1c5596",
            "4bd29ecb923bdfe6",
            "b541a98d58822ccd",
            "fbf641fb71c384a9",
            "5357c806b6a40a1d",
            "f41814d0aa5a0166",
            "f3174e0d6f6a97a9"
        ],
        "x": 24,
        "y": 19
    },
    {
        "id": "41066d519a81f1ab",
        "type": "mqtt-broker",
        "name": "ProdSub",
        "broker": "35.240.248.118",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0af07e3530647d1e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a90982d4976f7e6e",
        "type": "ui_tab",
        "name": "Home - Reading",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "94662ac7c301e21f",
        "type": "ui_group",
        "name": "Test Reading",
        "tab": "a90982d4976f7e6e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa7e89ca3dba6fc3",
        "type": "ui_tab",
        "name": "Home - Control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "acffaf2f9a84c807",
        "type": "ui_group",
        "name": "Control Button",
        "tab": "fa7e89ca3dba6fc3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ebb091afc219aec",
        "type": "inject",
        "z": "9b8cd6c6ae9cb52d",
        "name": "Inject Information",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "test",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "This is a topic.",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "ddb50a383e16abad"
            ]
        ]
    },
    {
        "id": "ddb50a383e16abad",
        "type": "function",
        "z": "9b8cd6c6ae9cb52d",
        "name": "",
        "func": "msg.payload = Math.random()\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "acb467723b33b431"
            ]
        ]
    },
    {
        "id": "23d06c01dc018204",
        "type": "debug",
        "z": "9b8cd6c6ae9cb52d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 140,
        "wires": []
    },
    {
        "id": "acb467723b33b431",
        "type": "switch",
        "z": "9b8cd6c6ae9cb52d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0.5",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "0.5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "51c21f153466710d"
            ],
            [
                "3a70617de07bd7b7"
            ]
        ]
    },
    {
        "id": "51c21f153466710d",
        "type": "change",
        "z": "9b8cd6c6ae9cb52d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "This ia a low value.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 80,
        "wires": [
            [
                "23d06c01dc018204"
            ]
        ]
    },
    {
        "id": "3a70617de07bd7b7",
        "type": "change",
        "z": "9b8cd6c6ae9cb52d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "This is a high value.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 180,
        "wires": [
            [
                "23d06c01dc018204"
            ]
        ]
    },
    {
        "id": "1284048a67017586",
        "type": "inject",
        "z": "ec787adfaf8fa800",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "7680f558c619fc5c"
            ]
        ]
    },
    {
        "id": "7680f558c619fc5c",
        "type": "http request",
        "z": "ec787adfaf8fa800",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://google.com",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "18cf23fb0c2fc440",
                "662817a2bb8db776"
            ]
        ]
    },
    {
        "id": "18cf23fb0c2fc440",
        "type": "debug",
        "z": "ec787adfaf8fa800",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "662817a2bb8db776",
        "type": "file",
        "z": "ec787adfaf8fa800",
        "name": "",
        "filename": "index2.html",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 730,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "521279ae28f2789a",
        "type": "comment",
        "z": "c3da786e1ee16ef3",
        "g": "fb86460367c7bbad",
        "name": "HTTP Server responding to /hello",
        "info": "",
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "396e5beed2443084",
        "type": "http in",
        "z": "c3da786e1ee16ef3",
        "g": "fb86460367c7bbad",
        "name": "Hello",
        "url": "hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "41f1fe4e8e4366b6"
            ]
        ]
    },
    {
        "id": "1d155914e24e1bf2",
        "type": "template",
        "z": "c3da786e1ee16ef3",
        "g": "fb86460367c7bbad",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Hi there. Right now it is {{time}}.",
        "output": "str",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "cbd2afac3df63b65"
            ]
        ]
    },
    {
        "id": "cbd2afac3df63b65",
        "type": "http response",
        "z": "c3da786e1ee16ef3",
        "g": "fb86460367c7bbad",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "41f1fe4e8e4366b6",
        "type": "function",
        "z": "c3da786e1ee16ef3",
        "g": "fb86460367c7bbad",
        "name": "",
        "func": "const date = new Date();\nmsg.time = date.toLocaleTimeString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 180,
        "wires": [
            [
                "1d155914e24e1bf2"
            ]
        ]
    },
    {
        "id": "7d34810ed07af3da",
        "type": "comment",
        "z": "c3da786e1ee16ef3",
        "name": "HTTP Server responding to /home",
        "info": "",
        "x": 160,
        "y": 300,
        "wires": []
    },
    {
        "id": "638c522a4ba789f5",
        "type": "http in",
        "z": "c3da786e1ee16ef3",
        "name": "Home",
        "url": "home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "324a56bbdf0691ee"
            ]
        ]
    },
    {
        "id": "324a56bbdf0691ee",
        "type": "file in",
        "z": "c3da786e1ee16ef3",
        "name": "",
        "filename": "html/index.html",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 420,
        "wires": [
            [
                "e88a853a79231e53"
            ]
        ]
    },
    {
        "id": "e88a853a79231e53",
        "type": "http response",
        "z": "c3da786e1ee16ef3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 580,
        "y": 420,
        "wires": []
    },
    {
        "id": "1ba39654f67a1047",
        "type": "comment",
        "z": "bb433892319f1ad4",
        "g": "05bb53d42b667096",
        "name": "HTTP server listening to /post1",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "eb99bf335c1c5596",
        "type": "http in",
        "z": "bb433892319f1ad4",
        "g": "05bb53d42b667096",
        "name": "Post1",
        "url": "post1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "4bd29ecb923bdfe6"
            ]
        ]
    },
    {
        "id": "4bd29ecb923bdfe6",
        "type": "template",
        "z": "bb433892319f1ad4",
        "g": "05bb53d42b667096",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "I got your message: {{payload}} !",
        "output": "str",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "b541a98d58822ccd"
            ]
        ]
    },
    {
        "id": "b541a98d58822ccd",
        "type": "http response",
        "z": "bb433892319f1ad4",
        "g": "05bb53d42b667096",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "fbf641fb71c384a9",
        "type": "comment",
        "z": "bb433892319f1ad4",
        "g": "05bb53d42b667096",
        "name": "Post request",
        "info": "",
        "x": 130,
        "y": 240,
        "wires": []
    },
    {
        "id": "5357c806b6a40a1d",
        "type": "inject",
        "z": "bb433892319f1ad4",
        "g": "05bb53d42b667096",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1881/post1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you very much.",
        "payloadType": "str",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "f41814d0aa5a0166"
            ]
        ]
    },
    {
        "id": "f41814d0aa5a0166",
        "type": "http request",
        "z": "bb433892319f1ad4",
        "g": "05bb53d42b667096",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 320,
        "wires": [
            [
                "f3174e0d6f6a97a9"
            ]
        ]
    },
    {
        "id": "f3174e0d6f6a97a9",
        "type": "debug",
        "z": "bb433892319f1ad4",
        "g": "05bb53d42b667096",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "c3b0a055e6a1046a",
        "type": "comment",
        "z": "bb433892319f1ad4",
        "name": "HTTP server listening to /post2",
        "info": "",
        "x": 170,
        "y": 460,
        "wires": []
    },
    {
        "id": "9f6d4244bdebe03c",
        "type": "http in",
        "z": "bb433892319f1ad4",
        "name": "Post2",
        "url": "post2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "2b69469164530f48"
            ]
        ]
    },
    {
        "id": "2b69469164530f48",
        "type": "function",
        "z": "bb433892319f1ad4",
        "name": "",
        "func": "const message = msg.payload;\nconst date = new Date();\nconst time = date.toLocaleTimeString();\n\nmsg.payload = `I got your message \"${message}\" at ${time} !`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 540,
        "wires": [
            [
                "7a6b2e964846de04"
            ]
        ]
    },
    {
        "id": "7a6b2e964846de04",
        "type": "http response",
        "z": "bb433892319f1ad4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 580,
        "y": 540,
        "wires": []
    },
    {
        "id": "1024ae00eac1b054",
        "type": "comment",
        "z": "bb433892319f1ad4",
        "name": "Post request",
        "info": "",
        "x": 110,
        "y": 620,
        "wires": []
    },
    {
        "id": "b7a0c2194f5ae2a8",
        "type": "inject",
        "z": "bb433892319f1ad4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1881/post2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you.",
        "payloadType": "str",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "da54eaeabb18965e"
            ]
        ]
    },
    {
        "id": "da54eaeabb18965e",
        "type": "http request",
        "z": "bb433892319f1ad4",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 340,
        "y": 700,
        "wires": [
            [
                "e153001a1f33b2a7"
            ]
        ]
    },
    {
        "id": "e153001a1f33b2a7",
        "type": "debug",
        "z": "bb433892319f1ad4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 700,
        "wires": []
    },
    {
        "id": "c2e6ae48a67edf56",
        "type": "comment",
        "z": "6ca271d5e1c89de0",
        "name": "เช็คชื่อ",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "fed598b66350667e",
        "type": "inject",
        "z": "6ca271d5e1c89de0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://materials-line.herokuapp.com/prodsup",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"cmu_id\":\"630610377\",\"code\":\"c703\"}",
        "payloadType": "json",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "af2727c787372ba7"
            ]
        ]
    },
    {
        "id": "af2727c787372ba7",
        "type": "http request",
        "z": "6ca271d5e1c89de0",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "9750248de01293f5"
            ]
        ]
    },
    {
        "id": "9750248de01293f5",
        "type": "debug",
        "z": "6ca271d5e1c89de0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "10c8e9083f43c9b8",
        "type": "comment",
        "z": "bd81eb1e651c8a36",
        "name": "Line Notify",
        "info": "",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "50303ac7204c8495",
        "type": "inject",
        "z": "bd81eb1e651c8a36",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "headers",
                "v": "{\"Content-Type\":\"application/x-www-form-urlencoded\",\"Authorization\":\"Bearer qFM8dAHlPJdDDaXqUEfb0MjBjYjeELTLCrWbitlpKad\"}",
                "vt": "json"
            },
            {
                "p": "url",
                "v": "https://notify-api.line.me/api/notify",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"Hello from node-red.\"}",
        "payloadType": "json",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "a4402d31ffc13692"
            ]
        ]
    },
    {
        "id": "a4402d31ffc13692",
        "type": "http request",
        "z": "bd81eb1e651c8a36",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "24e6bfb1f526bf68"
            ]
        ]
    },
    {
        "id": "24e6bfb1f526bf68",
        "type": "debug",
        "z": "bd81eb1e651c8a36",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "5adf016f8cf8877f",
        "type": "mqtt in",
        "z": "0a11252d06151b73",
        "d": true,
        "name": "",
        "topic": "test/main",
        "qos": "1",
        "datatype": "auto",
        "broker": "41066d519a81f1ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "cea3afa6525f618c"
            ]
        ]
    },
    {
        "id": "7a5b1d68124e0e89",
        "type": "comment",
        "z": "0a11252d06151b73",
        "name": "Subscribe to a topic",
        "info": "",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "cea3afa6525f618c",
        "type": "debug",
        "z": "0a11252d06151b73",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 140,
        "wires": []
    },
    {
        "id": "4dd1ddfab542c555",
        "type": "comment",
        "z": "0a11252d06151b73",
        "name": "Publish to a topic",
        "info": "",
        "x": 160,
        "y": 260,
        "wires": []
    },
    {
        "id": "38319fa2dbf83041",
        "type": "inject",
        "z": "0a11252d06151b73",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "🤬",
        "payloadType": "str",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "13b47020aaed14b6"
            ]
        ]
    },
    {
        "id": "13b47020aaed14b6",
        "type": "mqtt out",
        "z": "0a11252d06151b73",
        "name": "",
        "topic": "test/main",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41066d519a81f1ab",
        "x": 440,
        "y": 360,
        "wires": []
    },
    {
        "id": "630bc6513d8d58ab",
        "type": "comment",
        "z": "104366dc2eeedf3c",
        "name": "Sensor Subscriber",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "8c9136c92e99e128",
        "type": "mqtt in",
        "z": "104366dc2eeedf3c",
        "d": true,
        "name": "",
        "topic": "test/LSM6DSO",
        "qos": "1",
        "datatype": "auto",
        "broker": "41066d519a81f1ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "d098ef628c9e6f4e"
            ]
        ]
    },
    {
        "id": "07fc34db10f022cd",
        "type": "debug",
        "z": "104366dc2eeedf3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "d098ef628c9e6f4e",
        "type": "json",
        "z": "104366dc2eeedf3c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "51e8f04684a71169"
            ]
        ]
    },
    {
        "id": "51e8f04684a71169",
        "type": "function",
        "z": "104366dc2eeedf3c",
        "name": "",
        "func": "const payloadJSON = msg.payload;\nconst values = payloadJSON['LSM6DSO Acceleration Sensor'].values;\nconst norm = Math.sqrt(values[0] ** 2 + values[1] ** 2 + values[2] ** 2);\nmsg.payload = norm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 140,
        "wires": [
            [
                "07fc34db10f022cd"
            ]
        ]
    },
    {
        "id": "e3747c773cd7fc53",
        "type": "comment",
        "z": "c4d2921aaef2e08f",
        "name": "Fake sensor",
        "info": "",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "07394291bd476667",
        "type": "inject",
        "z": "c4d2921aaef2e08f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "c47df99c66542c9a"
            ]
        ]
    },
    {
        "id": "c47df99c66542c9a",
        "type": "function",
        "z": "c4d2921aaef2e08f",
        "name": "",
        "func": "msg.payload = Math.random();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "79b716c6f59c1015",
                "d3ba14590bc3403b"
            ]
        ]
    },
    {
        "id": "79b716c6f59c1015",
        "type": "mqtt out",
        "z": "c4d2921aaef2e08f",
        "d": true,
        "name": "",
        "topic": "test/fakesensor12345",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41066d519a81f1ab",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "d3ba14590bc3403b",
        "type": "debug",
        "z": "c4d2921aaef2e08f",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "171addf3cb83aa8c",
        "type": "comment",
        "z": "c4d2921aaef2e08f",
        "name": "Subscribe to fake sensor",
        "info": "",
        "x": 190,
        "y": 400,
        "wires": []
    },
    {
        "id": "8ead210322a7bf97",
        "type": "mqtt in",
        "z": "c4d2921aaef2e08f",
        "d": true,
        "name": "",
        "topic": "test/fakesensor12345",
        "qos": "1",
        "datatype": "auto",
        "broker": "41066d519a81f1ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 500,
        "wires": [
            [
                "7849fa6f6202b6b7"
            ]
        ]
    },
    {
        "id": "44d3519efe015abc",
        "type": "debug",
        "z": "c4d2921aaef2e08f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 500,
        "wires": []
    },
    {
        "id": "7849fa6f6202b6b7",
        "type": "function",
        "z": "c4d2921aaef2e08f",
        "name": "",
        "func": "const payload = msg.payload;\nmsg.payload = parseFloat(payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [
            [
                "44d3519efe015abc"
            ]
        ]
    },
    {
        "id": "f3ab39819f015205",
        "type": "comment",
        "z": "026a4bba776c38d1",
        "name": "Dashboard",
        "info": "",
        "x": 110,
        "y": 80,
        "wires": []
    },
    {
        "id": "e7018ce703bf9a7a",
        "type": "inject",
        "z": "026a4bba776c38d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "2bf8930dea1f6afa"
            ]
        ]
    },
    {
        "id": "2bf8930dea1f6afa",
        "type": "function",
        "z": "026a4bba776c38d1",
        "name": "",
        "func": "const timestamp = msg.payload;\nconst period = 10;\nmsg.payload = Math.sin(((timestamp / 1000) * 2 * Math.PI) / period);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "101ba27195a417e1",
                "e39cc62196575f4d"
            ]
        ]
    },
    {
        "id": "101ba27195a417e1",
        "type": "ui_chart",
        "z": "026a4bba776c38d1",
        "name": "",
        "group": "94662ac7c301e21f",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e39cc62196575f4d",
        "type": "ui_gauge",
        "z": "026a4bba776c38d1",
        "name": "",
        "group": "94662ac7c301e21f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "5fa35b416da1b9c1",
        "type": "comment",
        "z": "93d9394627368a1b",
        "name": "Control button",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "b6719bd457dca6ee",
        "type": "ui_button",
        "z": "93d9394627368a1b",
        "name": "",
        "group": "acffaf2f9a84c807",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "start",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "92d65a1a618cac2b",
                "cd67922c1e1191a0"
            ]
        ]
    },
    {
        "id": "021580d723e0eee0",
        "type": "ui_button",
        "z": "93d9394627368a1b",
        "name": "",
        "group": "acffaf2f9a84c807",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "92d65a1a618cac2b",
                "cd67922c1e1191a0"
            ]
        ]
    },
    {
        "id": "92d65a1a618cac2b",
        "type": "debug",
        "z": "93d9394627368a1b",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 260,
        "wires": []
    },
    {
        "id": "cd67922c1e1191a0",
        "type": "mqtt out",
        "z": "93d9394627368a1b",
        "name": "",
        "topic": "test/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41066d519a81f1ab",
        "x": 430,
        "y": 160,
        "wires": []
    },
    {
        "id": "b6e19fe590394dcc",
        "type": "comment",
        "z": "93d9394627368a1b",
        "name": "Mobile sensor",
        "info": "",
        "x": 130,
        "y": 400,
        "wires": []
    },
    {
        "id": "2a1e03ef9bcfb687",
        "type": "mqtt in",
        "z": "93d9394627368a1b",
        "name": "",
        "topic": "test/control",
        "qos": "1",
        "datatype": "auto",
        "broker": "41066d519a81f1ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 480,
        "wires": [
            [
                "fb4cfedf832a89c4"
            ]
        ]
    },
    {
        "id": "1c2bf9ed9d2c4bd0",
        "type": "debug",
        "z": "93d9394627368a1b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "fb4cfedf832a89c4",
        "type": "switch",
        "z": "93d9394627368a1b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 480,
        "wires": [
            [
                "d34f9364fa4d06cd"
            ],
            [
                "4b877635db8cbea6"
            ]
        ]
    },
    {
        "id": "d34f9364fa4d06cd",
        "type": "template",
        "z": "93d9394627368a1b",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Yes!!!!!",
        "output": "str",
        "x": 490,
        "y": 420,
        "wires": [
            [
                "1c2bf9ed9d2c4bd0"
            ]
        ]
    },
    {
        "id": "4b877635db8cbea6",
        "type": "template",
        "z": "93d9394627368a1b",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "NOOOOOO",
        "output": "str",
        "x": 470,
        "y": 520,
        "wires": [
            [
                "1c2bf9ed9d2c4bd0"
            ]
        ]
    }
]