Code/node-red-s3/local/.flows.json.backup
[
    {
        "id": "add35b5ab4ca9720",
        "type": "tab",
        "label": "M1-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ea3f4f43fc5daa25",
        "type": "tab",
        "label": "M1-3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f3de32e3d86d9740",
        "type": "tab",
        "label": "M1-4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6dc91af4e091e8a7",
        "type": "tab",
        "label": "M2-1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d8af7e8f0bbc6fe",
        "type": "tab",
        "label": "Attendance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cff346690fa4aff6",
        "type": "tab",
        "label": "M2-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f09824d5f4157c3f",
        "type": "tab",
        "label": "M3-1 MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca0df837dc61c31a",
        "type": "tab",
        "label": "M4-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "33af9431ceacb3bf",
        "type": "tab",
        "label": "M4-3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb8f6187556816f7",
        "type": "tab",
        "label": "M5-1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd27f5fa8ade6ba9",
        "type": "tab",
        "label": "M5-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d82e92c1fa12e6f2",
        "type": "group",
        "z": "f3de32e3d86d9740",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "72045edd1fa50a55",
            "6a2e6f3193cbdae4",
            "aad3bca324f57f05",
            "f4d491e30692ea1a",
            "624fcaeb98931c3f",
            "20445134a0922394",
            "9c2c7d517aec684e",
            "e01f89433c721633",
            "4c7412865b513cfc",
            "b55df56065df44f5"
        ],
        "x": 34,
        "y": 19
    },
    {
        "id": "4e062412a4f10145",
        "type": "group",
        "z": "6dc91af4e091e8a7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b628f4214d36f0f0",
            "67ff6e6b9ec53748",
            "b7f90481a2840433",
            "d092d9bdf2c9db29",
            "9139ee68e24b4727",
            "1127af1e995f0f97",
            "7d39d652f101bbac",
            "52463d33425f6d66"
        ],
        "x": 24,
        "y": 39
    },
    {
        "id": "8067b88f31d90dcf",
        "type": "mqtt-broker",
        "name": "ProdSup",
        "broker": "35.240.248.118",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "be240541a0e43dbf",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4f0c955861761dbe",
        "type": "ui_tab",
        "name": "Home - Reading",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "77fced4e13a8c751",
        "type": "ui_group",
        "name": "Test Reading",
        "tab": "4f0c955861761dbe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "71371d694b28df07",
        "type": "ui_tab",
        "name": "Home - Control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "45d68ec2a8bdbb16",
        "type": "ui_group",
        "name": "Control Buttons",
        "tab": "71371d694b28df07",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b13a73fe770c2246",
        "type": "inject",
        "z": "add35b5ab4ca9720",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "test",
                "v": "1000",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Topic1",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "4bcd5610498cc944"
            ]
        ]
    },
    {
        "id": "cced822adcd248aa",
        "type": "debug",
        "z": "add35b5ab4ca9720",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "4bcd5610498cc944",
        "type": "function",
        "z": "add35b5ab4ca9720",
        "name": "",
        "func": "\n// const date = new Date()\n\nmsg.payload = 'This is a payload from function node.'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "cced822adcd248aa"
            ]
        ]
    },
    {
        "id": "515532f1ae2c87a3",
        "type": "inject",
        "z": "add35b5ab4ca9720",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "bd085614bb3f16fd"
            ]
        ]
    },
    {
        "id": "9e110ad920f283ea",
        "type": "debug",
        "z": "add35b5ab4ca9720",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "bd085614bb3f16fd",
        "type": "function",
        "z": "add35b5ab4ca9720",
        "name": "",
        "func": "const date = new Date()\nmsg.payload = date.toLocaleTimeString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 300,
        "wires": [
            [
                "9e110ad920f283ea"
            ]
        ]
    },
    {
        "id": "6e123af6ac9bfff0",
        "type": "inject",
        "z": "add35b5ab4ca9720",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "888e7e7cc756dbcb"
            ]
        ]
    },
    {
        "id": "888e7e7cc756dbcb",
        "type": "function",
        "z": "add35b5ab4ca9720",
        "name": "",
        "func": "msg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 440,
        "wires": [
            [
                "587fb0c6fc59b3ae"
            ]
        ]
    },
    {
        "id": "af1a5f8e6de84658",
        "type": "debug",
        "z": "add35b5ab4ca9720",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 440,
        "wires": []
    },
    {
        "id": "587fb0c6fc59b3ae",
        "type": "switch",
        "z": "add35b5ab4ca9720",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0.5",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "0.5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 440,
        "wires": [
            [
                "ce73eae4d8c46765"
            ],
            [
                "565024deaaafae2b"
            ]
        ]
    },
    {
        "id": "ce73eae4d8c46765",
        "type": "change",
        "z": "add35b5ab4ca9720",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Low value detected.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 400,
        "wires": [
            [
                "af1a5f8e6de84658"
            ]
        ]
    },
    {
        "id": "565024deaaafae2b",
        "type": "change",
        "z": "add35b5ab4ca9720",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "High value detected.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 480,
        "wires": [
            [
                "af1a5f8e6de84658"
            ]
        ]
    },
    {
        "id": "60303fb402f339c4",
        "type": "inject",
        "z": "ea3f4f43fc5daa25",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "551c460f0ac1bc71"
            ]
        ]
    },
    {
        "id": "551c460f0ac1bc71",
        "type": "http request",
        "z": "ea3f4f43fc5daa25",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://cmu.ac.th",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "7ca312687aed7bd5",
                "0e3127704747be80"
            ]
        ]
    },
    {
        "id": "7ca312687aed7bd5",
        "type": "debug",
        "z": "ea3f4f43fc5daa25",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "0e3127704747be80",
        "type": "file",
        "z": "ea3f4f43fc5daa25",
        "name": "",
        "filename": "index.html",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 630,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "72045edd1fa50a55",
        "type": "http in",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "",
        "url": "hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "e01f89433c721633"
            ]
        ]
    },
    {
        "id": "6a2e6f3193cbdae4",
        "type": "debug",
        "z": "f3de32e3d86d9740",
        "d": true,
        "g": "d82e92c1fa12e6f2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "aad3bca324f57f05",
        "type": "inject",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "f4d491e30692ea1a"
            ]
        ]
    },
    {
        "id": "f4d491e30692ea1a",
        "type": "http request",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1881/hello",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 360,
        "y": 300,
        "wires": [
            [
                "9c2c7d517aec684e"
            ]
        ]
    },
    {
        "id": "624fcaeb98931c3f",
        "type": "template",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Hi there!.  Right now it is {{time}}.",
        "output": "str",
        "x": 500,
        "y": 120,
        "wires": [
            [
                "20445134a0922394",
                "6a2e6f3193cbdae4"
            ]
        ]
    },
    {
        "id": "20445134a0922394",
        "type": "http response",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "9c2c7d517aec684e",
        "type": "debug",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "e01f89433c721633",
        "type": "function",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "",
        "func": "const date = new Date()\n\nmsg.time = date.toLocaleTimeString()\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 120,
        "wires": [
            [
                "624fcaeb98931c3f"
            ]
        ]
    },
    {
        "id": "4c7412865b513cfc",
        "type": "comment",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "HTTP server responding to /hello",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "b55df56065df44f5",
        "type": "comment",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "Testing",
        "info": "",
        "x": 110,
        "y": 240,
        "wires": []
    },
    {
        "id": "610987a6c30ca0e9",
        "type": "http in",
        "z": "f3de32e3d86d9740",
        "name": "Home",
        "url": "home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "59714a44ef32c0fe"
            ]
        ]
    },
    {
        "id": "59714a44ef32c0fe",
        "type": "file in",
        "z": "f3de32e3d86d9740",
        "name": "",
        "filename": "html/index.html",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 300,
        "y": 460,
        "wires": [
            [
                "fdf66df327c32ada"
            ]
        ]
    },
    {
        "id": "fdf66df327c32ada",
        "type": "http response",
        "z": "f3de32e3d86d9740",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 460,
        "wires": []
    },
    {
        "id": "b628f4214d36f0f0",
        "type": "comment",
        "z": "6dc91af4e091e8a7",
        "g": "4e062412a4f10145",
        "name": "HTTP server listening to /post1",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "67ff6e6b9ec53748",
        "type": "http in",
        "z": "6dc91af4e091e8a7",
        "g": "4e062412a4f10145",
        "name": "Post1",
        "url": "post1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "b7f90481a2840433"
            ]
        ]
    },
    {
        "id": "b7f90481a2840433",
        "type": "template",
        "z": "6dc91af4e091e8a7",
        "g": "4e062412a4f10145",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "I got your message: {{payload}} !",
        "output": "str",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "d092d9bdf2c9db29"
            ]
        ]
    },
    {
        "id": "d092d9bdf2c9db29",
        "type": "http response",
        "z": "6dc91af4e091e8a7",
        "g": "4e062412a4f10145",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "9139ee68e24b4727",
        "type": "comment",
        "z": "6dc91af4e091e8a7",
        "g": "4e062412a4f10145",
        "name": "Post request",
        "info": "",
        "x": 130,
        "y": 280,
        "wires": []
    },
    {
        "id": "1127af1e995f0f97",
        "type": "inject",
        "z": "6dc91af4e091e8a7",
        "g": "4e062412a4f10145",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1881/post1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you very much.",
        "payloadType": "str",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "7d39d652f101bbac"
            ]
        ]
    },
    {
        "id": "7d39d652f101bbac",
        "type": "http request",
        "z": "6dc91af4e091e8a7",
        "g": "4e062412a4f10145",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "52463d33425f6d66"
            ]
        ]
    },
    {
        "id": "52463d33425f6d66",
        "type": "debug",
        "z": "6dc91af4e091e8a7",
        "g": "4e062412a4f10145",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "d3776609a27749c4",
        "type": "comment",
        "z": "6dc91af4e091e8a7",
        "name": "HTTP server listening to /post2",
        "info": "",
        "x": 170,
        "y": 500,
        "wires": []
    },
    {
        "id": "1e9325b84d5e6297",
        "type": "http in",
        "z": "6dc91af4e091e8a7",
        "name": "Post2",
        "url": "post2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 580,
        "wires": [
            [
                "97769edaee84edcc"
            ]
        ]
    },
    {
        "id": "97769edaee84edcc",
        "type": "function",
        "z": "6dc91af4e091e8a7",
        "name": "",
        "func": "const message = msg.payload;\nconst date = new Date();\nconst time = date.toLocaleTimeString();\n\nmsg.payload = `I got your message \"${message}\" at ${time} !`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 580,
        "wires": [
            [
                "9a3711116a5014c6"
            ]
        ]
    },
    {
        "id": "9a3711116a5014c6",
        "type": "http response",
        "z": "6dc91af4e091e8a7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 560,
        "y": 580,
        "wires": []
    },
    {
        "id": "9fa24cbdd586b379",
        "type": "comment",
        "z": "6dc91af4e091e8a7",
        "name": "Post request",
        "info": "",
        "x": 110,
        "y": 680,
        "wires": []
    },
    {
        "id": "111b607db57454bb",
        "type": "inject",
        "z": "6dc91af4e091e8a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1881/post2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you.",
        "payloadType": "str",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "b7cfe1176f35a23d"
            ]
        ]
    },
    {
        "id": "b7cfe1176f35a23d",
        "type": "http request",
        "z": "6dc91af4e091e8a7",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 360,
        "y": 780,
        "wires": [
            [
                "8a73c3773e613fb4"
            ]
        ]
    },
    {
        "id": "8a73c3773e613fb4",
        "type": "debug",
        "z": "6dc91af4e091e8a7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 780,
        "wires": []
    },
    {
        "id": "3b324dbd86b8f5c7",
        "type": "comment",
        "z": "5d8af7e8f0bbc6fe",
        "name": "เช็คชื่อ",
        "info": "",
        "x": 100,
        "y": 60,
        "wires": []
    },
    {
        "id": "1d3fcfbc3dc7cbdb",
        "type": "inject",
        "z": "5d8af7e8f0bbc6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://materials-line.herokuapp.com/prodsup",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"cmu_id\":\"123456788\",\"code\":\"75c2\"}",
        "payloadType": "json",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "aa463e1acf55ae07"
            ]
        ]
    },
    {
        "id": "aa463e1acf55ae07",
        "type": "http request",
        "z": "5d8af7e8f0bbc6fe",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 280,
        "y": 160,
        "wires": [
            [
                "cc14d315c1160ef7"
            ]
        ]
    },
    {
        "id": "cc14d315c1160ef7",
        "type": "debug",
        "z": "5d8af7e8f0bbc6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "f61b2ab4254a9f3f",
        "type": "inject",
        "z": "cff346690fa4aff6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"Content-Type\":\"application/x-www-form-urlencoded\",\"Authorization\":\"Bearer A4t5r6sfWP8gHVrx65xQyWs1wCSPPleJPVRogKJ2mI3\"}",
                "vt": "json"
            },
            {
                "p": "url",
                "v": "https://notify-api.line.me/api/notify",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"Hello from node-red.\"}",
        "payloadType": "json",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "2e1169981dc7163b"
            ]
        ]
    },
    {
        "id": "2e1169981dc7163b",
        "type": "http request",
        "z": "cff346690fa4aff6",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "5807cdf4f51e9fc1"
            ]
        ]
    },
    {
        "id": "5807cdf4f51e9fc1",
        "type": "debug",
        "z": "cff346690fa4aff6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "8abb2f3a54b2040c",
        "type": "comment",
        "z": "f09824d5f4157c3f",
        "name": "Subscribe to a topic",
        "info": "",
        "x": 170,
        "y": 100,
        "wires": []
    },
    {
        "id": "5ceeef13b7d04e88",
        "type": "mqtt in",
        "z": "f09824d5f4157c3f",
        "d": true,
        "name": "",
        "topic": "test/main",
        "qos": "1",
        "datatype": "auto",
        "broker": "8067b88f31d90dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "8c494f6b1b876d3e"
            ]
        ]
    },
    {
        "id": "8c494f6b1b876d3e",
        "type": "debug",
        "z": "f09824d5f4157c3f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 180,
        "wires": []
    },
    {
        "id": "4b65bc11267643a8",
        "type": "comment",
        "z": "f09824d5f4157c3f",
        "name": "Publish to a topic",
        "info": "",
        "x": 160,
        "y": 280,
        "wires": []
    },
    {
        "id": "368b27faf57a8260",
        "type": "inject",
        "z": "f09824d5f4157c3f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dfsdfadfasdfasdf",
        "payloadType": "str",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "5a5d9278f491a559"
            ]
        ]
    },
    {
        "id": "5a5d9278f491a559",
        "type": "mqtt out",
        "z": "f09824d5f4157c3f",
        "d": true,
        "name": "",
        "topic": "test/main",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8067b88f31d90dcf",
        "x": 430,
        "y": 380,
        "wires": []
    },
    {
        "id": "56fb20d4f8b1409c",
        "type": "comment",
        "z": "ca0df837dc61c31a",
        "name": "Subscribe to sensor data",
        "info": "",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "3d3f50d98fae36b8",
        "type": "mqtt in",
        "z": "ca0df837dc61c31a",
        "name": "",
        "topic": "test/LSM6DSO",
        "qos": "1",
        "datatype": "auto",
        "broker": "8067b88f31d90dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "d62a5a889916a782"
            ]
        ]
    },
    {
        "id": "ebc2a83acd0da1ee",
        "type": "debug",
        "z": "ca0df837dc61c31a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "d62a5a889916a782",
        "type": "json",
        "z": "ca0df837dc61c31a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "5561e6f741226b70"
            ]
        ]
    },
    {
        "id": "5561e6f741226b70",
        "type": "function",
        "z": "ca0df837dc61c31a",
        "name": "",
        "func": "const payloadJSON = msg.payload;\nconst values = payloadJSON['LSM6DSO Acceleration Sensor'].values;\nconst norm = Math.sqrt(values[0] ** 2 + values[1] ** 2 + values[2] ** 2);\nmsg.payload = norm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 160,
        "wires": [
            [
                "ebc2a83acd0da1ee"
            ]
        ]
    },
    {
        "id": "21cda857a5b37a4c",
        "type": "comment",
        "z": "33af9431ceacb3bf",
        "name": "Fake Sensor",
        "info": "",
        "x": 120,
        "y": 80,
        "wires": []
    },
    {
        "id": "a6fbc90362d3dae2",
        "type": "inject",
        "z": "33af9431ceacb3bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "c09e1e4959a7f61b"
            ]
        ]
    },
    {
        "id": "c09e1e4959a7f61b",
        "type": "function",
        "z": "33af9431ceacb3bf",
        "name": "",
        "func": "msg.payload = Math.random();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "3388ecdf3de3e5fa"
            ]
        ]
    },
    {
        "id": "3388ecdf3de3e5fa",
        "type": "mqtt out",
        "z": "33af9431ceacb3bf",
        "d": true,
        "name": "",
        "topic": "test/fakesensor12",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8067b88f31d90dcf",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "457f3afe367d1eea",
        "type": "comment",
        "z": "33af9431ceacb3bf",
        "name": "Subscribe to fake sensor",
        "info": "",
        "x": 150,
        "y": 300,
        "wires": []
    },
    {
        "id": "382cce0d98b10a4f",
        "type": "mqtt in",
        "z": "33af9431ceacb3bf",
        "d": true,
        "name": "",
        "topic": "test/fakesensor12",
        "qos": "1",
        "datatype": "auto",
        "broker": "8067b88f31d90dcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "a48f2c5a2134a810"
            ]
        ]
    },
    {
        "id": "7ec5c4658a791477",
        "type": "debug",
        "z": "33af9431ceacb3bf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 400,
        "wires": []
    },
    {
        "id": "a48f2c5a2134a810",
        "type": "function",
        "z": "33af9431ceacb3bf",
        "name": "",
        "func": "const payload = msg.payload;\nmsg.payload = parseFloat(payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 400,
        "wires": [
            [
                "7ec5c4658a791477"
            ]
        ]
    },
    {
        "id": "b603001011fb0257",
        "type": "comment",
        "z": "bb8f6187556816f7",
        "name": "Dashboard",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "c32cfe528811fe87",
        "type": "inject",
        "z": "bb8f6187556816f7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "0106cf2a9320493f"
            ]
        ]
    },
    {
        "id": "0106cf2a9320493f",
        "type": "function",
        "z": "bb8f6187556816f7",
        "name": "",
        "func": "const timestamp = msg.payload;\nconst period = 10;\nmsg.payload = Math.sin(((timestamp / 1000) * 2 * Math.PI) / period);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "4bfbe22d797f55d7",
                "c82f93f8061b6186"
            ]
        ]
    },
    {
        "id": "4bfbe22d797f55d7",
        "type": "ui_chart",
        "z": "bb8f6187556816f7",
        "name": "",
        "group": "77fced4e13a8c751",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c82f93f8061b6186",
        "type": "ui_gauge",
        "z": "bb8f6187556816f7",
        "name": "",
        "group": "77fced4e13a8c751",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "54794b2d9ac2b3b3",
        "type": "comment",
        "z": "cd27f5fa8ade6ba9",
        "name": "Control buttons",
        "info": "",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "acd626ed1d2e7789",
        "type": "ui_button",
        "z": "cd27f5fa8ade6ba9",
        "name": "",
        "group": "45d68ec2a8bdbb16",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "start",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "06a082031315ef80",
                "db34c155050a3ce1"
            ]
        ]
    },
    {
        "id": "f9f1d627ecb48e15",
        "type": "ui_button",
        "z": "cd27f5fa8ade6ba9",
        "name": "",
        "group": "45d68ec2a8bdbb16",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "06a082031315ef80",
                "db34c155050a3ce1"
            ]
        ]
    },
    {
        "id": "06a082031315ef80",
        "type": "debug",
        "z": "cd27f5fa8ade6ba9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "db34c155050a3ce1",
        "type": "mqtt out",
        "z": "cd27f5fa8ade6ba9",
        "name": "",
        "topic": "test/button",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8067b88f31d90dcf",
        "x": 480,
        "y": 160,
        "wires": []
    }
]