Code/node-red-s3/local/.flows.json.backup
[
    {
        "id": "add35b5ab4ca9720",
        "type": "tab",
        "label": "M1-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ea3f4f43fc5daa25",
        "type": "tab",
        "label": "M1-3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f3de32e3d86d9740",
        "type": "tab",
        "label": "M1-4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d82e92c1fa12e6f2",
        "type": "group",
        "z": "f3de32e3d86d9740",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "72045edd1fa50a55",
            "6a2e6f3193cbdae4",
            "aad3bca324f57f05",
            "f4d491e30692ea1a",
            "624fcaeb98931c3f",
            "20445134a0922394",
            "9c2c7d517aec684e",
            "e01f89433c721633",
            "4c7412865b513cfc",
            "b55df56065df44f5"
        ],
        "x": 34,
        "y": 19,
        "w": 852,
        "h": 322
    },
    {
        "id": "b13a73fe770c2246",
        "type": "inject",
        "z": "add35b5ab4ca9720",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "test",
                "v": "1000",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Topic1",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "4bcd5610498cc944"
            ]
        ]
    },
    {
        "id": "cced822adcd248aa",
        "type": "debug",
        "z": "add35b5ab4ca9720",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "4bcd5610498cc944",
        "type": "function",
        "z": "add35b5ab4ca9720",
        "name": "",
        "func": "\n// const date = new Date()\n\nmsg.payload = 'This is a payload from function node.'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "cced822adcd248aa"
            ]
        ]
    },
    {
        "id": "515532f1ae2c87a3",
        "type": "inject",
        "z": "add35b5ab4ca9720",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "bd085614bb3f16fd"
            ]
        ]
    },
    {
        "id": "9e110ad920f283ea",
        "type": "debug",
        "z": "add35b5ab4ca9720",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "bd085614bb3f16fd",
        "type": "function",
        "z": "add35b5ab4ca9720",
        "name": "",
        "func": "const date = new Date()\nmsg.payload = date.toLocaleTimeString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 300,
        "wires": [
            [
                "9e110ad920f283ea"
            ]
        ]
    },
    {
        "id": "6e123af6ac9bfff0",
        "type": "inject",
        "z": "add35b5ab4ca9720",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "888e7e7cc756dbcb"
            ]
        ]
    },
    {
        "id": "888e7e7cc756dbcb",
        "type": "function",
        "z": "add35b5ab4ca9720",
        "name": "",
        "func": "msg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 440,
        "wires": [
            [
                "587fb0c6fc59b3ae"
            ]
        ]
    },
    {
        "id": "af1a5f8e6de84658",
        "type": "debug",
        "z": "add35b5ab4ca9720",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 440,
        "wires": []
    },
    {
        "id": "587fb0c6fc59b3ae",
        "type": "switch",
        "z": "add35b5ab4ca9720",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0.5",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "0.5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 440,
        "wires": [
            [
                "ce73eae4d8c46765"
            ],
            [
                "565024deaaafae2b"
            ]
        ]
    },
    {
        "id": "ce73eae4d8c46765",
        "type": "change",
        "z": "add35b5ab4ca9720",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Low value detected.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 400,
        "wires": [
            [
                "af1a5f8e6de84658"
            ]
        ]
    },
    {
        "id": "565024deaaafae2b",
        "type": "change",
        "z": "add35b5ab4ca9720",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "High value detected.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 480,
        "wires": [
            [
                "af1a5f8e6de84658"
            ]
        ]
    },
    {
        "id": "60303fb402f339c4",
        "type": "inject",
        "z": "ea3f4f43fc5daa25",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "551c460f0ac1bc71"
            ]
        ]
    },
    {
        "id": "551c460f0ac1bc71",
        "type": "http request",
        "z": "ea3f4f43fc5daa25",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://cmu.ac.th",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "7ca312687aed7bd5",
                "0e3127704747be80"
            ]
        ]
    },
    {
        "id": "7ca312687aed7bd5",
        "type": "debug",
        "z": "ea3f4f43fc5daa25",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "0e3127704747be80",
        "type": "file",
        "z": "ea3f4f43fc5daa25",
        "name": "",
        "filename": "index.html",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 630,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "72045edd1fa50a55",
        "type": "http in",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "",
        "url": "hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "e01f89433c721633"
            ]
        ]
    },
    {
        "id": "6a2e6f3193cbdae4",
        "type": "debug",
        "z": "f3de32e3d86d9740",
        "d": true,
        "g": "d82e92c1fa12e6f2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "aad3bca324f57f05",
        "type": "inject",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "f4d491e30692ea1a"
            ]
        ]
    },
    {
        "id": "f4d491e30692ea1a",
        "type": "http request",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1881/hello",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 360,
        "y": 300,
        "wires": [
            [
                "9c2c7d517aec684e"
            ]
        ]
    },
    {
        "id": "624fcaeb98931c3f",
        "type": "template",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Hi there!.  Right now it is {{time}}.",
        "output": "str",
        "x": 500,
        "y": 120,
        "wires": [
            [
                "20445134a0922394",
                "6a2e6f3193cbdae4"
            ]
        ]
    },
    {
        "id": "20445134a0922394",
        "type": "http response",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "9c2c7d517aec684e",
        "type": "debug",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "e01f89433c721633",
        "type": "function",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "",
        "func": "const date = new Date()\n\nmsg.time = date.toLocaleTimeString()\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 120,
        "wires": [
            [
                "624fcaeb98931c3f"
            ]
        ]
    },
    {
        "id": "4c7412865b513cfc",
        "type": "comment",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "HTTP server responding to /hello",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "b55df56065df44f5",
        "type": "comment",
        "z": "f3de32e3d86d9740",
        "g": "d82e92c1fa12e6f2",
        "name": "Testing",
        "info": "",
        "x": 110,
        "y": 240,
        "wires": []
    },
    {
        "id": "610987a6c30ca0e9",
        "type": "http in",
        "z": "f3de32e3d86d9740",
        "name": "Home",
        "url": "home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "59714a44ef32c0fe"
            ]
        ]
    },
    {
        "id": "59714a44ef32c0fe",
        "type": "file in",
        "z": "f3de32e3d86d9740",
        "name": "",
        "filename": "html/index.html",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 320,
        "y": 460,
        "wires": [
            [
                "fdf66df327c32ada"
            ]
        ]
    },
    {
        "id": "fdf66df327c32ada",
        "type": "http response",
        "z": "f3de32e3d86d9740",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 460,
        "wires": []
    }
]