Flows/M1-2.json
[
    {
        "id": "1252c8c9df17633c",
        "type": "tab",
        "label": "M1-2 Navigation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd3a1dfe73fbb0b7",
        "type": "group",
        "z": "1252c8c9df17633c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "89b13d61e17a6320",
            "dc3f0ed51c15237c"
        ],
        "x": 34,
        "y": 79,
        "w": 432,
        "h": 82
    },
    {
        "id": "3a9fc94f77ddccba",
        "type": "group",
        "z": "1252c8c9df17633c",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "a673f74f2aa523ca",
            "d07742bbd719120a",
            "2e22c331d45b3671",
            "59012472878b7b73",
            "9b5c6a10f91a76f8",
            "35bedee8b9976bfe"
        ],
        "x": 34,
        "y": 359,
        "w": 982,
        "h": 162
    },
    {
        "id": "cb24e92275a1331f",
        "type": "group",
        "z": "1252c8c9df17633c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5e1d65429e304b2a",
            "5e681d6d98cbb7e2",
            "d1db45c59e7d7eac"
        ],
        "x": 34,
        "y": 219,
        "w": 592,
        "h": 82
    },
    {
        "id": "89b13d61e17a6320",
        "type": "inject",
        "z": "1252c8c9df17633c",
        "g": "cd3a1dfe73fbb0b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "dc3f0ed51c15237c"
            ]
        ]
    },
    {
        "id": "dc3f0ed51c15237c",
        "type": "debug",
        "z": "1252c8c9df17633c",
        "g": "cd3a1dfe73fbb0b7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "5e1d65429e304b2a",
        "type": "inject",
        "z": "1252c8c9df17633c",
        "g": "cb24e92275a1331f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "d1db45c59e7d7eac"
            ]
        ]
    },
    {
        "id": "5e681d6d98cbb7e2",
        "type": "debug",
        "z": "1252c8c9df17633c",
        "g": "cb24e92275a1331f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "d1db45c59e7d7eac",
        "type": "function",
        "z": "1252c8c9df17633c",
        "g": "cb24e92275a1331f",
        "name": "Format Date",
        "func": "const payload = msg.payload\nconst date = new Date(payload)\nconst dateString = date.toLocaleDateString()\nconst timeString = date.toLocaleTimeString()\n// msg.payload = dateString\n// msg.payload = timeString\nmsg.payload = dateString + ' ' + timeString\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 260,
        "wires": [
            [
                "5e681d6d98cbb7e2"
            ]
        ]
    },
    {
        "id": "a673f74f2aa523ca",
        "type": "inject",
        "z": "1252c8c9df17633c",
        "d": true,
        "g": "3a9fc94f77ddccba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "2e22c331d45b3671"
            ]
        ]
    },
    {
        "id": "d07742bbd719120a",
        "type": "debug",
        "z": "1252c8c9df17633c",
        "g": "3a9fc94f77ddccba",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 440,
        "wires": []
    },
    {
        "id": "2e22c331d45b3671",
        "type": "function",
        "z": "1252c8c9df17633c",
        "g": "3a9fc94f77ddccba",
        "name": "",
        "func": "msg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 440,
        "wires": [
            [
                "59012472878b7b73"
            ]
        ]
    },
    {
        "id": "59012472878b7b73",
        "type": "switch",
        "z": "1252c8c9df17633c",
        "g": "3a9fc94f77ddccba",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0.5",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "0.5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "9b5c6a10f91a76f8"
            ],
            [
                "35bedee8b9976bfe"
            ]
        ]
    },
    {
        "id": "9b5c6a10f91a76f8",
        "type": "change",
        "z": "1252c8c9df17633c",
        "g": "3a9fc94f77ddccba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "High Value",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 400,
        "wires": [
            [
                "d07742bbd719120a"
            ]
        ]
    },
    {
        "id": "35bedee8b9976bfe",
        "type": "change",
        "z": "1252c8c9df17633c",
        "g": "3a9fc94f77ddccba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Low Vaue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 480,
        "wires": [
            [
                "d07742bbd719120a"
            ]
        ]
    }
]