Code/node-red-s1/local/.flows.json.backup
[
    {
        "id": "cbf623ca5e71fcb8",
        "type": "tab",
        "label": "S1 - M1-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abfccc04e77e3621",
        "type": "tab",
        "label": "S1 - M1-3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd34b26883c1ca7a",
        "type": "tab",
        "label": "S1 - M1-4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c2f21793921cdcf6",
        "type": "tab",
        "label": "S1 - M2-1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9ca71a2f68d61a0f",
        "type": "tab",
        "label": "Class Attendance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "339b714f878789a9",
        "type": "tab",
        "label": "S1 - M2-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2941a077e8599b68",
        "type": "tab",
        "label": "M3-1 MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "56d08e3da7944adf",
        "type": "tab",
        "label": "M4-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "951c564955e00592",
        "type": "tab",
        "label": "M4-3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "40cb2d210f2a22ee",
        "type": "tab",
        "label": "M5-1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "026b21ac0809ff4e",
        "type": "tab",
        "label": "M5-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e227ab2732246830",
        "type": "group",
        "z": "bd34b26883c1ca7a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "beb326d2083c4302",
            "5321418c77c59bc5",
            "dc153d1b712d0c5b",
            "322a4c46377d869f",
            "39eddb454c92a05b",
            "c77337b110a2750c",
            "09a8fa7e6ddde915",
            "6666c598b4ba8ffb"
        ],
        "x": 34,
        "y": 39
    },
    {
        "id": "ac06e9e2e4aea5b0",
        "type": "group",
        "z": "c2f21793921cdcf6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "abd03957e8db4989",
            "b3dbb1a0370318f5",
            "8a149a794cacdd2b",
            "2afe52be8511c00e",
            "171150a094b0d9a5",
            "8229f3c2a465fc1f",
            "bfe1207c7c3511c4"
        ],
        "x": 24,
        "y": 99
    },
    {
        "id": "78a8aaf412212b5d",
        "type": "mqtt-broker",
        "name": "PropSup",
        "broker": "35.240.248.118",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "09cfd32cf75341be",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e28ddc77fa7ee0f2",
        "type": "ui_tab",
        "name": "Home - Reading",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c7a008824a675284",
        "type": "ui_group",
        "name": "Test - Reading",
        "tab": "e28ddc77fa7ee0f2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f402d5dffb49988e",
        "type": "ui_tab",
        "name": "Home - Control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cc59e0e4c5a9dd83",
        "type": "ui_group",
        "name": "Test - Control",
        "tab": "f402d5dffb49988e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5992994c8bc322c6",
        "type": "inject",
        "z": "cbf623ca5e71fcb8",
        "name": "Inject Timestamp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "54d06a5fafafa273"
            ]
        ]
    },
    {
        "id": "1053c250264521d5",
        "type": "debug",
        "z": "cbf623ca5e71fcb8",
        "name": "Check Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "54d06a5fafafa273",
        "type": "function",
        "z": "cbf623ca5e71fcb8",
        "name": "Inject Date String",
        "func": "console.log(msg)\n\nlet date = new Date()\n\n// msg.payload = date.toDateString()\nmsg.payload = 'Changed Data'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 180,
        "wires": [
            [
                "1053c250264521d5"
            ]
        ]
    },
    {
        "id": "09c19277e5811576",
        "type": "inject",
        "z": "cbf623ca5e71fcb8",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "890b76d81676518b"
            ]
        ]
    },
    {
        "id": "890b76d81676518b",
        "type": "function",
        "z": "cbf623ca5e71fcb8",
        "name": "",
        "func": "msg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "843843e3346a2de9"
            ]
        ]
    },
    {
        "id": "3483ab9dd342714d",
        "type": "debug",
        "z": "cbf623ca5e71fcb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "843843e3346a2de9",
        "type": "switch",
        "z": "cbf623ca5e71fcb8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0.5",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "0.5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "d395357a37fb0ef1"
            ],
            [
                "4866607dda1c2c6f"
            ]
        ]
    },
    {
        "id": "d395357a37fb0ef1",
        "type": "change",
        "z": "cbf623ca5e71fcb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Low Value Detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 320,
        "wires": [
            [
                "3483ab9dd342714d"
            ]
        ]
    },
    {
        "id": "4866607dda1c2c6f",
        "type": "change",
        "z": "cbf623ca5e71fcb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "High Value Detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 400,
        "wires": [
            [
                "3483ab9dd342714d"
            ]
        ]
    },
    {
        "id": "2ff5b29b93438391",
        "type": "inject",
        "z": "abfccc04e77e3621",
        "name": "",
        "props": [
            {
                "p": "url",
                "v": "http://google.com",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "c2f3857a55b38777"
            ]
        ]
    },
    {
        "id": "c2f3857a55b38777",
        "type": "http request",
        "z": "abfccc04e77e3621",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "f0e1d6e32eb9fde2",
                "6b33f8ba3ec42224"
            ]
        ]
    },
    {
        "id": "f0e1d6e32eb9fde2",
        "type": "debug",
        "z": "abfccc04e77e3621",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "6b33f8ba3ec42224",
        "type": "file",
        "z": "abfccc04e77e3621",
        "name": "",
        "filename": "index2.html",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 590,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "beb326d2083c4302",
        "type": "http in",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "Hello",
        "url": "hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "09a8fa7e6ddde915"
            ]
        ]
    },
    {
        "id": "5321418c77c59bc5",
        "type": "inject",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "dc153d1b712d0c5b"
            ]
        ]
    },
    {
        "id": "dc153d1b712d0c5b",
        "type": "http request",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1881/hello",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "c77337b110a2750c"
            ]
        ]
    },
    {
        "id": "322a4c46377d869f",
        "type": "template",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Hi there! Right now, it is {{time}}.",
        "output": "str",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "39eddb454c92a05b"
            ]
        ]
    },
    {
        "id": "39eddb454c92a05b",
        "type": "http response",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "c77337b110a2750c",
        "type": "debug",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "09a8fa7e6ddde915",
        "type": "function",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "func": "let date = new Date()\n\nmsg.time = date.toLocaleTimeString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "322a4c46377d869f"
            ]
        ]
    },
    {
        "id": "6666c598b4ba8ffb",
        "type": "comment",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "HTTP serve responding to /hello",
        "info": "",
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "92266c1c8b6162bc",
        "type": "comment",
        "z": "bd34b26883c1ca7a",
        "name": "HTTP server responding to /home",
        "info": "",
        "x": 180,
        "y": 440,
        "wires": []
    },
    {
        "id": "c76d0e46c88d8fe0",
        "type": "http in",
        "z": "bd34b26883c1ca7a",
        "name": "Home",
        "url": "home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "2fdaf0aa5092e2d8"
            ]
        ]
    },
    {
        "id": "2fdaf0aa5092e2d8",
        "type": "file in",
        "z": "bd34b26883c1ca7a",
        "name": "",
        "filename": "html/index.html",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 290,
        "y": 540,
        "wires": [
            [
                "0040c7b4c1a3918c"
            ]
        ]
    },
    {
        "id": "0040c7b4c1a3918c",
        "type": "http response",
        "z": "bd34b26883c1ca7a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 500,
        "y": 540,
        "wires": []
    },
    {
        "id": "b239aca9858f4cb6",
        "type": "comment",
        "z": "c2f21793921cdcf6",
        "name": "HTTP server listening to /post1",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "abd03957e8db4989",
        "type": "http in",
        "z": "c2f21793921cdcf6",
        "g": "ac06e9e2e4aea5b0",
        "name": "Post1",
        "url": "post1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "b3dbb1a0370318f5"
            ]
        ]
    },
    {
        "id": "b3dbb1a0370318f5",
        "type": "template",
        "z": "c2f21793921cdcf6",
        "g": "ac06e9e2e4aea5b0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "I got your message: {{payload}} !",
        "output": "str",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "8a149a794cacdd2b"
            ]
        ]
    },
    {
        "id": "8a149a794cacdd2b",
        "type": "http response",
        "z": "c2f21793921cdcf6",
        "g": "ac06e9e2e4aea5b0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "2afe52be8511c00e",
        "type": "comment",
        "z": "c2f21793921cdcf6",
        "g": "ac06e9e2e4aea5b0",
        "name": "Post request",
        "info": "",
        "x": 130,
        "y": 240,
        "wires": []
    },
    {
        "id": "171150a094b0d9a5",
        "type": "inject",
        "z": "c2f21793921cdcf6",
        "g": "ac06e9e2e4aea5b0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1881/post1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you very much.",
        "payloadType": "str",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "8229f3c2a465fc1f"
            ]
        ]
    },
    {
        "id": "8229f3c2a465fc1f",
        "type": "http request",
        "z": "c2f21793921cdcf6",
        "g": "ac06e9e2e4aea5b0",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "bfe1207c7c3511c4"
            ]
        ]
    },
    {
        "id": "bfe1207c7c3511c4",
        "type": "debug",
        "z": "c2f21793921cdcf6",
        "g": "ac06e9e2e4aea5b0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "c31b848f7a721091",
        "type": "comment",
        "z": "c2f21793921cdcf6",
        "name": "HTTP server listening to /post2",
        "info": "",
        "x": 150,
        "y": 480,
        "wires": []
    },
    {
        "id": "1e9fd9065a0642d2",
        "type": "http in",
        "z": "c2f21793921cdcf6",
        "name": "Post2",
        "url": "post2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "6cc958e0ed448593"
            ]
        ]
    },
    {
        "id": "6cc958e0ed448593",
        "type": "function",
        "z": "c2f21793921cdcf6",
        "name": "",
        "func": "const message = msg.payload;\nconst date = new Date();\nconst time = date.toLocaleTimeString();\n\nmsg.payload = `I got your message \"${message}\" at ${time} !`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 540,
        "wires": [
            [
                "fc935696f67c747f"
            ]
        ]
    },
    {
        "id": "fc935696f67c747f",
        "type": "http response",
        "z": "c2f21793921cdcf6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 560,
        "y": 540,
        "wires": []
    },
    {
        "id": "7825a0fa72cfc8e0",
        "type": "inject",
        "z": "c2f21793921cdcf6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1881/post2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you.",
        "payloadType": "str",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "e52743ac55e63239"
            ]
        ]
    },
    {
        "id": "e52743ac55e63239",
        "type": "http request",
        "z": "c2f21793921cdcf6",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 680,
        "wires": [
            [
                "382ab20964c4cda0"
            ]
        ]
    },
    {
        "id": "382ab20964c4cda0",
        "type": "debug",
        "z": "c2f21793921cdcf6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 680,
        "wires": []
    },
    {
        "id": "87d02d620cf257ea",
        "type": "comment",
        "z": "c2f21793921cdcf6",
        "name": "Post request",
        "info": "",
        "x": 90,
        "y": 620,
        "wires": []
    },
    {
        "id": "a235ab4026567d6a",
        "type": "comment",
        "z": "9ca71a2f68d61a0f",
        "name": "เช็คชื่อ",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "a39fd8e0db01acb3",
        "type": "inject",
        "z": "9ca71a2f68d61a0f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://materials-line.herokuapp.com/prodsup",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"cmu_id\":\"123456788\",\"code\":\"4939\"}",
        "payloadType": "json",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "9a6d7c4451b1db86"
            ]
        ]
    },
    {
        "id": "9a6d7c4451b1db86",
        "type": "http request",
        "z": "9ca71a2f68d61a0f",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "a78db4dc75a64b64"
            ]
        ]
    },
    {
        "id": "a78db4dc75a64b64",
        "type": "debug",
        "z": "9ca71a2f68d61a0f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "a09cdc4285c9d951",
        "type": "comment",
        "z": "339b714f878789a9",
        "name": "Line Notify",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "12b51a3ffc819d83",
        "type": "inject",
        "z": "339b714f878789a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"Content-Type\":\"application/x-www-form-urlencoded\",\"Authorization\":\"Bearer uUUDdBObbMS8FWbu4N7wYm9yoWini5biAWl7gPkQXBl\"}",
                "vt": "json"
            },
            {
                "p": "url",
                "v": "https://notify-api.line.me/api/notify",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"I am sending notification from node-red.\"}",
        "payloadType": "json",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "e6003ec7211ac479"
            ]
        ]
    },
    {
        "id": "e6003ec7211ac479",
        "type": "http request",
        "z": "339b714f878789a9",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "76f7c886a9820b47",
        "type": "comment",
        "z": "2941a077e8599b68",
        "name": "Subscribe to a topic",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "197823f880e7aeb2",
        "type": "mqtt in",
        "z": "2941a077e8599b68",
        "d": true,
        "name": "",
        "topic": "test/main",
        "qos": "1",
        "datatype": "auto",
        "broker": "78a8aaf412212b5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "d4f99f78869ba9cf"
            ]
        ]
    },
    {
        "id": "d4f99f78869ba9cf",
        "type": "debug",
        "z": "2941a077e8599b68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "178b70772af4a6d0",
        "type": "comment",
        "z": "2941a077e8599b68",
        "name": "Publish to a topic",
        "info": "",
        "x": 140,
        "y": 280,
        "wires": []
    },
    {
        "id": "4407b4db1c70359d",
        "type": "inject",
        "z": "2941a077e8599b68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hi from Node-Red....",
        "payloadType": "str",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "fa453bcf898ce8a9"
            ]
        ]
    },
    {
        "id": "fa453bcf898ce8a9",
        "type": "mqtt out",
        "z": "2941a077e8599b68",
        "d": true,
        "name": "",
        "topic": "test/main",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78a8aaf412212b5d",
        "x": 430,
        "y": 380,
        "wires": []
    },
    {
        "id": "8aded6e1907ae9a9",
        "type": "comment",
        "z": "56d08e3da7944adf",
        "name": "Sensor Subscriber",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "0ad68365a7e95117",
        "type": "mqtt in",
        "z": "56d08e3da7944adf",
        "d": true,
        "name": "",
        "topic": "test/LSM",
        "qos": "1",
        "datatype": "auto",
        "broker": "78a8aaf412212b5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 180,
        "wires": [
            [
                "43e7aba861dfa5e8"
            ]
        ]
    },
    {
        "id": "7640fc30ff4006c1",
        "type": "debug",
        "z": "56d08e3da7944adf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "43e7aba861dfa5e8",
        "type": "json",
        "z": "56d08e3da7944adf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "7a78d1002ce5ac2b"
            ]
        ]
    },
    {
        "id": "7a78d1002ce5ac2b",
        "type": "function",
        "z": "56d08e3da7944adf",
        "name": "",
        "func": "const payloadJSON = msg.payload;\nconst values = payloadJSON['LSM6DSO Acceleration Sensor'].values;\nconst norm = Math.sqrt(values[0] ** 2 + values[1] ** 2 + values[2] ** 2);\nmsg.payload = norm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": [
            [
                "7640fc30ff4006c1"
            ]
        ]
    },
    {
        "id": "8c6788687c2029ed",
        "type": "comment",
        "z": "951c564955e00592",
        "name": "Fake Sensor",
        "info": "",
        "x": 110,
        "y": 80,
        "wires": []
    },
    {
        "id": "97d63209c2cd4ff5",
        "type": "inject",
        "z": "951c564955e00592",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "fe53259b9d176808"
            ]
        ]
    },
    {
        "id": "fe53259b9d176808",
        "type": "function",
        "z": "951c564955e00592",
        "name": "",
        "func": "msg.payload = Math.random();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 160,
        "wires": [
            [
                "98627714cdf30bdc"
            ]
        ]
    },
    {
        "id": "98627714cdf30bdc",
        "type": "mqtt out",
        "z": "951c564955e00592",
        "d": true,
        "name": "",
        "topic": "nirand1234/fakesensor",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78a8aaf412212b5d",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "cf8e48dcab2c1171",
        "type": "mqtt in",
        "z": "951c564955e00592",
        "d": true,
        "name": "",
        "topic": "nirand1234/fakesensor",
        "qos": "2",
        "datatype": "auto",
        "broker": "78a8aaf412212b5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "be910d84581ffc93"
            ]
        ]
    },
    {
        "id": "a72a9b3ead02bf42",
        "type": "debug",
        "z": "951c564955e00592",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "be910d84581ffc93",
        "type": "function",
        "z": "951c564955e00592",
        "name": "",
        "func": "const payload = msg.payload;\nmsg.payload = parseFloat(payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "a72a9b3ead02bf42"
            ]
        ]
    },
    {
        "id": "a337496fc805b3cd",
        "type": "comment",
        "z": "951c564955e00592",
        "name": "Subscribe to fakesensor",
        "info": "",
        "x": 140,
        "y": 280,
        "wires": []
    },
    {
        "id": "834c49905b6d4c2f",
        "type": "inject",
        "z": "40cb2d210f2a22ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "c2dc77de28c8a94c"
            ]
        ]
    },
    {
        "id": "c2dc77de28c8a94c",
        "type": "function",
        "z": "40cb2d210f2a22ee",
        "name": "",
        "func": "const timestamp = msg.payload;\nconst period = 10;\nmsg.payload = Math.sin(((timestamp / 1000) * 2 * Math.PI) / period);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 100,
        "wires": [
            [
                "71f6193ff114e772",
                "5dd11597c8b4ac1c"
            ]
        ]
    },
    {
        "id": "71f6193ff114e772",
        "type": "ui_chart",
        "z": "40cb2d210f2a22ee",
        "name": "",
        "group": "c7a008824a675284",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "5dd11597c8b4ac1c",
        "type": "ui_gauge",
        "z": "40cb2d210f2a22ee",
        "name": "",
        "group": "c7a008824a675284",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "003d1238d364ca34",
        "type": "comment",
        "z": "026b21ac0809ff4e",
        "name": "Control buttons",
        "info": "",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "7ba4424165201192",
        "type": "ui_button",
        "z": "026b21ac0809ff4e",
        "name": "",
        "group": "cc59e0e4c5a9dd83",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "start",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "7e335d71c5c73cbe",
                "68750e77bb476420"
            ]
        ]
    },
    {
        "id": "841bed296ecc2e8c",
        "type": "ui_button",
        "z": "026b21ac0809ff4e",
        "name": "",
        "group": "cc59e0e4c5a9dd83",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "7e335d71c5c73cbe",
                "68750e77bb476420"
            ]
        ]
    },
    {
        "id": "7e335d71c5c73cbe",
        "type": "debug",
        "z": "026b21ac0809ff4e",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 300,
        "wires": []
    },
    {
        "id": "68750e77bb476420",
        "type": "mqtt out",
        "z": "026b21ac0809ff4e",
        "name": "",
        "topic": "test/button",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78a8aaf412212b5d",
        "x": 460,
        "y": 200,
        "wires": []
    },
    {
        "id": "317138349758ccd1",
        "type": "mqtt in",
        "z": "026b21ac0809ff4e",
        "name": "",
        "topic": "test/button",
        "qos": "2",
        "datatype": "auto",
        "broker": "78a8aaf412212b5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "c617a6672a4d3846"
            ]
        ]
    },
    {
        "id": "680771994baccf9a",
        "type": "comment",
        "z": "026b21ac0809ff4e",
        "name": "Device receiving command",
        "info": "",
        "x": 200,
        "y": 400,
        "wires": []
    },
    {
        "id": "c617a6672a4d3846",
        "type": "debug",
        "z": "026b21ac0809ff4e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 460,
        "wires": []
    }
]