Code/node-red-s1/local/.flows.json.backup
[
    {
        "id": "cbf623ca5e71fcb8",
        "type": "tab",
        "label": "S1 - M1-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abfccc04e77e3621",
        "type": "tab",
        "label": "S1 - M1-3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd34b26883c1ca7a",
        "type": "tab",
        "label": "S1 - M1-4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c2f21793921cdcf6",
        "type": "tab",
        "label": "S1 - M2-1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9ca71a2f68d61a0f",
        "type": "tab",
        "label": "Class Attendance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "339b714f878789a9",
        "type": "tab",
        "label": "S1 - M2-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e227ab2732246830",
        "type": "group",
        "z": "bd34b26883c1ca7a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "beb326d2083c4302",
            "5321418c77c59bc5",
            "dc153d1b712d0c5b",
            "322a4c46377d869f",
            "39eddb454c92a05b",
            "c77337b110a2750c",
            "09a8fa7e6ddde915",
            "6666c598b4ba8ffb"
        ],
        "x": 34,
        "y": 39
    },
    {
        "id": "ac06e9e2e4aea5b0",
        "type": "group",
        "z": "c2f21793921cdcf6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "abd03957e8db4989",
            "b3dbb1a0370318f5",
            "8a149a794cacdd2b",
            "2afe52be8511c00e",
            "171150a094b0d9a5",
            "8229f3c2a465fc1f",
            "bfe1207c7c3511c4"
        ],
        "x": 24,
        "y": 99
    },
    {
        "id": "5992994c8bc322c6",
        "type": "inject",
        "z": "cbf623ca5e71fcb8",
        "name": "Inject Timestamp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "54d06a5fafafa273"
            ]
        ]
    },
    {
        "id": "1053c250264521d5",
        "type": "debug",
        "z": "cbf623ca5e71fcb8",
        "name": "Check Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "54d06a5fafafa273",
        "type": "function",
        "z": "cbf623ca5e71fcb8",
        "name": "Inject Date String",
        "func": "console.log(msg)\n\nlet date = new Date()\n\n// msg.payload = date.toDateString()\nmsg.payload = 'Changed Data'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 180,
        "wires": [
            [
                "1053c250264521d5"
            ]
        ]
    },
    {
        "id": "09c19277e5811576",
        "type": "inject",
        "z": "cbf623ca5e71fcb8",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "890b76d81676518b"
            ]
        ]
    },
    {
        "id": "890b76d81676518b",
        "type": "function",
        "z": "cbf623ca5e71fcb8",
        "name": "",
        "func": "msg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "843843e3346a2de9"
            ]
        ]
    },
    {
        "id": "3483ab9dd342714d",
        "type": "debug",
        "z": "cbf623ca5e71fcb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "843843e3346a2de9",
        "type": "switch",
        "z": "cbf623ca5e71fcb8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0.5",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "0.5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "d395357a37fb0ef1"
            ],
            [
                "4866607dda1c2c6f"
            ]
        ]
    },
    {
        "id": "d395357a37fb0ef1",
        "type": "change",
        "z": "cbf623ca5e71fcb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Low Value Detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 320,
        "wires": [
            [
                "3483ab9dd342714d"
            ]
        ]
    },
    {
        "id": "4866607dda1c2c6f",
        "type": "change",
        "z": "cbf623ca5e71fcb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "High Value Detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 400,
        "wires": [
            [
                "3483ab9dd342714d"
            ]
        ]
    },
    {
        "id": "2ff5b29b93438391",
        "type": "inject",
        "z": "abfccc04e77e3621",
        "name": "",
        "props": [
            {
                "p": "url",
                "v": "http://google.com",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "c2f3857a55b38777"
            ]
        ]
    },
    {
        "id": "c2f3857a55b38777",
        "type": "http request",
        "z": "abfccc04e77e3621",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "f0e1d6e32eb9fde2",
                "6b33f8ba3ec42224"
            ]
        ]
    },
    {
        "id": "f0e1d6e32eb9fde2",
        "type": "debug",
        "z": "abfccc04e77e3621",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "6b33f8ba3ec42224",
        "type": "file",
        "z": "abfccc04e77e3621",
        "name": "",
        "filename": "index2.html",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 590,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "beb326d2083c4302",
        "type": "http in",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "Hello",
        "url": "hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "09a8fa7e6ddde915"
            ]
        ]
    },
    {
        "id": "5321418c77c59bc5",
        "type": "inject",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "dc153d1b712d0c5b"
            ]
        ]
    },
    {
        "id": "dc153d1b712d0c5b",
        "type": "http request",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1881/hello",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "c77337b110a2750c"
            ]
        ]
    },
    {
        "id": "322a4c46377d869f",
        "type": "template",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Hi there! Right now, it is {{time}}.",
        "output": "str",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "39eddb454c92a05b"
            ]
        ]
    },
    {
        "id": "39eddb454c92a05b",
        "type": "http response",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "c77337b110a2750c",
        "type": "debug",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "09a8fa7e6ddde915",
        "type": "function",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "func": "let date = new Date()\n\nmsg.time = date.toLocaleTimeString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "322a4c46377d869f"
            ]
        ]
    },
    {
        "id": "6666c598b4ba8ffb",
        "type": "comment",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "HTTP serve responding to /hello",
        "info": "",
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "92266c1c8b6162bc",
        "type": "comment",
        "z": "bd34b26883c1ca7a",
        "name": "HTTP server responding to /home",
        "info": "",
        "x": 180,
        "y": 440,
        "wires": []
    },
    {
        "id": "c76d0e46c88d8fe0",
        "type": "http in",
        "z": "bd34b26883c1ca7a",
        "name": "Home",
        "url": "home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "2fdaf0aa5092e2d8"
            ]
        ]
    },
    {
        "id": "2fdaf0aa5092e2d8",
        "type": "file in",
        "z": "bd34b26883c1ca7a",
        "name": "",
        "filename": "html/index.html",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 290,
        "y": 540,
        "wires": [
            [
                "0040c7b4c1a3918c"
            ]
        ]
    },
    {
        "id": "0040c7b4c1a3918c",
        "type": "http response",
        "z": "bd34b26883c1ca7a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 500,
        "y": 540,
        "wires": []
    },
    {
        "id": "b239aca9858f4cb6",
        "type": "comment",
        "z": "c2f21793921cdcf6",
        "name": "HTTP server listening to /post1",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "abd03957e8db4989",
        "type": "http in",
        "z": "c2f21793921cdcf6",
        "g": "ac06e9e2e4aea5b0",
        "name": "Post1",
        "url": "post1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "b3dbb1a0370318f5"
            ]
        ]
    },
    {
        "id": "b3dbb1a0370318f5",
        "type": "template",
        "z": "c2f21793921cdcf6",
        "g": "ac06e9e2e4aea5b0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "I got your message: {{payload}} !",
        "output": "str",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "8a149a794cacdd2b"
            ]
        ]
    },
    {
        "id": "8a149a794cacdd2b",
        "type": "http response",
        "z": "c2f21793921cdcf6",
        "g": "ac06e9e2e4aea5b0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "2afe52be8511c00e",
        "type": "comment",
        "z": "c2f21793921cdcf6",
        "g": "ac06e9e2e4aea5b0",
        "name": "Post request",
        "info": "",
        "x": 130,
        "y": 240,
        "wires": []
    },
    {
        "id": "171150a094b0d9a5",
        "type": "inject",
        "z": "c2f21793921cdcf6",
        "g": "ac06e9e2e4aea5b0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1881/post1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you very much.",
        "payloadType": "str",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "8229f3c2a465fc1f"
            ]
        ]
    },
    {
        "id": "8229f3c2a465fc1f",
        "type": "http request",
        "z": "c2f21793921cdcf6",
        "g": "ac06e9e2e4aea5b0",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "bfe1207c7c3511c4"
            ]
        ]
    },
    {
        "id": "bfe1207c7c3511c4",
        "type": "debug",
        "z": "c2f21793921cdcf6",
        "g": "ac06e9e2e4aea5b0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "c31b848f7a721091",
        "type": "comment",
        "z": "c2f21793921cdcf6",
        "name": "HTTP server listening to /post2",
        "info": "",
        "x": 150,
        "y": 480,
        "wires": []
    },
    {
        "id": "1e9fd9065a0642d2",
        "type": "http in",
        "z": "c2f21793921cdcf6",
        "name": "Post2",
        "url": "post2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "6cc958e0ed448593"
            ]
        ]
    },
    {
        "id": "6cc958e0ed448593",
        "type": "function",
        "z": "c2f21793921cdcf6",
        "name": "",
        "func": "const message = msg.payload;\nconst date = new Date();\nconst time = date.toLocaleTimeString();\n\nmsg.payload = `I got your message \"${message}\" at ${time} !`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 540,
        "wires": [
            [
                "fc935696f67c747f"
            ]
        ]
    },
    {
        "id": "fc935696f67c747f",
        "type": "http response",
        "z": "c2f21793921cdcf6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 560,
        "y": 540,
        "wires": []
    },
    {
        "id": "7825a0fa72cfc8e0",
        "type": "inject",
        "z": "c2f21793921cdcf6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1881/post2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you.",
        "payloadType": "str",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "e52743ac55e63239"
            ]
        ]
    },
    {
        "id": "e52743ac55e63239",
        "type": "http request",
        "z": "c2f21793921cdcf6",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 680,
        "wires": [
            [
                "382ab20964c4cda0"
            ]
        ]
    },
    {
        "id": "382ab20964c4cda0",
        "type": "debug",
        "z": "c2f21793921cdcf6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 680,
        "wires": []
    },
    {
        "id": "87d02d620cf257ea",
        "type": "comment",
        "z": "c2f21793921cdcf6",
        "name": "Post request",
        "info": "",
        "x": 90,
        "y": 620,
        "wires": []
    },
    {
        "id": "a235ab4026567d6a",
        "type": "comment",
        "z": "9ca71a2f68d61a0f",
        "name": "เช็คชื่อ",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "a39fd8e0db01acb3",
        "type": "inject",
        "z": "9ca71a2f68d61a0f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://materials-line.herokuapp.com/prodsup",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"cmu_id\":\"123456788\",\"code\":\"5982\"}",
        "payloadType": "json",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "9a6d7c4451b1db86"
            ]
        ]
    },
    {
        "id": "9a6d7c4451b1db86",
        "type": "http request",
        "z": "9ca71a2f68d61a0f",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "a78db4dc75a64b64"
            ]
        ]
    },
    {
        "id": "a78db4dc75a64b64",
        "type": "debug",
        "z": "9ca71a2f68d61a0f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "a09cdc4285c9d951",
        "type": "comment",
        "z": "339b714f878789a9",
        "name": "Line Notify",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "12b51a3ffc819d83",
        "type": "inject",
        "z": "339b714f878789a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"Content-Type\":\"application/x-www-form-urlencoded\",\"Authorization\":\"Bearer uUUDdBObbMS8FWbu4N7wYm9yoWini5biAWl7gPkQXBl\"}",
                "vt": "json"
            },
            {
                "p": "url",
                "v": "https://notify-api.line.me/api/notify",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"I amd sending notification.\"}",
        "payloadType": "json",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "e6003ec7211ac479"
            ]
        ]
    },
    {
        "id": "e6003ec7211ac479",
        "type": "http request",
        "z": "339b714f878789a9",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 160,
        "wires": [
            []
        ]
    }
]