Code/node-red-s1/local/flows.json
[
    {
        "id": "cbf623ca5e71fcb8",
        "type": "tab",
        "label": "S1 - M1-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abfccc04e77e3621",
        "type": "tab",
        "label": "S1 - M1-3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd34b26883c1ca7a",
        "type": "tab",
        "label": "S1 - M1-4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e227ab2732246830",
        "type": "group",
        "z": "bd34b26883c1ca7a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "beb326d2083c4302",
            "5321418c77c59bc5",
            "dc153d1b712d0c5b",
            "322a4c46377d869f",
            "39eddb454c92a05b",
            "c77337b110a2750c",
            "09a8fa7e6ddde915",
            "6666c598b4ba8ffb"
        ],
        "x": 34,
        "y": 39,
        "w": 772,
        "h": 302
    },
    {
        "id": "5992994c8bc322c6",
        "type": "inject",
        "z": "cbf623ca5e71fcb8",
        "name": "Inject Timestamp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "54d06a5fafafa273"
            ]
        ]
    },
    {
        "id": "1053c250264521d5",
        "type": "debug",
        "z": "cbf623ca5e71fcb8",
        "name": "Check Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "54d06a5fafafa273",
        "type": "function",
        "z": "cbf623ca5e71fcb8",
        "name": "Inject Date String",
        "func": "console.log(msg)\n\nlet date = new Date()\n\n// msg.payload = date.toDateString()\nmsg.payload = 'Changed Data'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 180,
        "wires": [
            [
                "1053c250264521d5"
            ]
        ]
    },
    {
        "id": "09c19277e5811576",
        "type": "inject",
        "z": "cbf623ca5e71fcb8",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "890b76d81676518b"
            ]
        ]
    },
    {
        "id": "890b76d81676518b",
        "type": "function",
        "z": "cbf623ca5e71fcb8",
        "name": "",
        "func": "msg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "843843e3346a2de9"
            ]
        ]
    },
    {
        "id": "3483ab9dd342714d",
        "type": "debug",
        "z": "cbf623ca5e71fcb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "843843e3346a2de9",
        "type": "switch",
        "z": "cbf623ca5e71fcb8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0.5",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "0.5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "d395357a37fb0ef1"
            ],
            [
                "4866607dda1c2c6f"
            ]
        ]
    },
    {
        "id": "d395357a37fb0ef1",
        "type": "change",
        "z": "cbf623ca5e71fcb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Low Value Detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 320,
        "wires": [
            [
                "3483ab9dd342714d"
            ]
        ]
    },
    {
        "id": "4866607dda1c2c6f",
        "type": "change",
        "z": "cbf623ca5e71fcb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "High Value Detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 400,
        "wires": [
            [
                "3483ab9dd342714d"
            ]
        ]
    },
    {
        "id": "2ff5b29b93438391",
        "type": "inject",
        "z": "abfccc04e77e3621",
        "name": "",
        "props": [
            {
                "p": "url",
                "v": "http://google.com",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "c2f3857a55b38777"
            ]
        ]
    },
    {
        "id": "c2f3857a55b38777",
        "type": "http request",
        "z": "abfccc04e77e3621",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "f0e1d6e32eb9fde2",
                "6b33f8ba3ec42224"
            ]
        ]
    },
    {
        "id": "f0e1d6e32eb9fde2",
        "type": "debug",
        "z": "abfccc04e77e3621",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "6b33f8ba3ec42224",
        "type": "file",
        "z": "abfccc04e77e3621",
        "name": "",
        "filename": "index2.html",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 590,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "beb326d2083c4302",
        "type": "http in",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "Hello",
        "url": "hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "09a8fa7e6ddde915"
            ]
        ]
    },
    {
        "id": "5321418c77c59bc5",
        "type": "inject",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "dc153d1b712d0c5b"
            ]
        ]
    },
    {
        "id": "dc153d1b712d0c5b",
        "type": "http request",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1881/hello",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "c77337b110a2750c"
            ]
        ]
    },
    {
        "id": "322a4c46377d869f",
        "type": "template",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Hi there! Right now, it is {{time}}.",
        "output": "str",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "39eddb454c92a05b"
            ]
        ]
    },
    {
        "id": "39eddb454c92a05b",
        "type": "http response",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "c77337b110a2750c",
        "type": "debug",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "09a8fa7e6ddde915",
        "type": "function",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "",
        "func": "let date = new Date()\n\nmsg.time = date.toLocaleTimeString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "322a4c46377d869f"
            ]
        ]
    },
    {
        "id": "6666c598b4ba8ffb",
        "type": "comment",
        "z": "bd34b26883c1ca7a",
        "g": "e227ab2732246830",
        "name": "HTTP serve responding to /hello",
        "info": "",
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "92266c1c8b6162bc",
        "type": "comment",
        "z": "bd34b26883c1ca7a",
        "name": "HTTP server responding to /home",
        "info": "",
        "x": 180,
        "y": 440,
        "wires": []
    },
    {
        "id": "c76d0e46c88d8fe0",
        "type": "http in",
        "z": "bd34b26883c1ca7a",
        "name": "Home",
        "url": "home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "2fdaf0aa5092e2d8"
            ]
        ]
    },
    {
        "id": "2fdaf0aa5092e2d8",
        "type": "file in",
        "z": "bd34b26883c1ca7a",
        "name": "",
        "filename": "html/index.html",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 290,
        "y": 540,
        "wires": [
            [
                "0040c7b4c1a3918c"
            ]
        ]
    },
    {
        "id": "0040c7b4c1a3918c",
        "type": "http response",
        "z": "bd34b26883c1ca7a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 500,
        "y": 540,
        "wires": []
    }
]