Code/node-red-lecture/local/.flows.json.backup
[
    {
        "id": "1252c8c9df17633c",
        "type": "tab",
        "label": "M1-2 Navigation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b18cbfe091ba6855",
        "type": "tab",
        "label": "M1-3 HTTP GET",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "212ebbe6435f3080",
        "type": "tab",
        "label": "M1-4 Server GET ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "360e94ece4fe56a9",
        "type": "tab",
        "label": "M 2-1 Server POST",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3049115b8d3d971d",
        "type": "tab",
        "label": "M2-2 Line notify",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "97570cd0c7150bd5",
        "type": "tab",
        "label": "M3-1 MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f2ec89c9e13ddd9c",
        "type": "tab",
        "label": "M4-1 (Mobile Phone)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd2fedbc45d34aa1",
        "type": "tab",
        "label": "M4-2: Sensor Subscriber",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ea83331cc935d51f",
        "type": "tab",
        "label": "M4-3: Fake Sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "740aab15e2c10d31",
        "type": "tab",
        "label": "M5-1: Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42323f5cd5a1a54b",
        "type": "tab",
        "label": "M5-2: Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dedfba256312356e",
        "type": "tab",
        "label": "Project",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9cab3d86bb384ee4",
        "type": "tab",
        "label": "Environment Variable",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e80d5bb4a04c9975",
        "type": "tab",
        "label": "Firestore",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dbbde358191b7d76",
        "type": "tab",
        "label": "Attendance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2822d6ced22c9130",
        "type": "tab",
        "label": "Windows Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4742e18bcfcf70df",
        "type": "tab",
        "label": "Timeout",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd0083169b22be12",
        "type": "tab",
        "label": "Lux",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "446596183d3402ad",
        "type": "tab",
        "label": "Fake Sensor Demo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7a39cdf96b80bf6",
        "type": "tab",
        "label": "Form",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4b203693849dfbbd",
        "type": "tab",
        "label": "Stopwatch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e3db0287044ebd2c",
        "type": "tab",
        "label": "timeout 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cb50c33d1e2ca771",
        "type": "tab",
        "label": "Context",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd3a1dfe73fbb0b7",
        "type": "group",
        "z": "1252c8c9df17633c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "89b13d61e17a6320",
            "dc3f0ed51c15237c"
        ],
        "x": 34,
        "y": 79,
        "w": 432,
        "h": 82
    },
    {
        "id": "3a9fc94f77ddccba",
        "type": "group",
        "z": "1252c8c9df17633c",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "a673f74f2aa523ca",
            "d07742bbd719120a",
            "2e22c331d45b3671",
            "59012472878b7b73",
            "9b5c6a10f91a76f8",
            "35bedee8b9976bfe"
        ],
        "x": 34,
        "y": 359,
        "w": 982,
        "h": 162
    },
    {
        "id": "cb24e92275a1331f",
        "type": "group",
        "z": "1252c8c9df17633c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5e1d65429e304b2a",
            "5e681d6d98cbb7e2",
            "d1db45c59e7d7eac"
        ],
        "x": 34,
        "y": 219,
        "w": 592,
        "h": 82
    },
    {
        "id": "0b584967f330ccef",
        "type": "group",
        "z": "212ebbe6435f3080",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ee1330060e50ca36",
            "4be378a2fed65530",
            "a97083d6b04fc1ed",
            "461c0b30470e8a39",
            "d6b5ebbeacf25284",
            "bb1ac70e92b1318a",
            "50abfe7e5c8182ce",
            "8b1fceb67dc4ad76",
            "d834ad21bd37ea96"
        ],
        "x": 34,
        "y": 19
    },
    {
        "id": "fc089742b7a03c9a",
        "type": "group",
        "z": "212ebbe6435f3080",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "ea1de657d8c653f9",
            "d54173e064070dc1",
            "cd0fdf70f288a758",
            "50928955532f3861",
            "56ac7fd7448b4092",
            "e14bea57abc80f81",
            "5cfa6b4f621dda44",
            "2662dd203444845c"
        ],
        "x": 34,
        "y": 379
    },
    {
        "id": "9e71dda4f602f907",
        "type": "group",
        "z": "360e94ece4fe56a9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b0f5041a8300453b",
            "2df487027fd68320",
            "140392d7dcb92019",
            "407f7ff0db36cb80",
            "f4f1a8977f0267cb",
            "3cacd8cc84c25d0d",
            "b60c655ae305692f",
            "2ab4bca595ab1009"
        ],
        "x": 34,
        "y": 39
    },
    {
        "id": "a7d9c5d3e9751545",
        "type": "group",
        "z": "360e94ece4fe56a9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "be1facca84f1a262",
            "2075593d277b8894",
            "fc6dc92850034d6c",
            "82066d4d95eac850",
            "ae39f6c7a5a69714",
            "1073004a64c0287f",
            "c5a434c9a713e461",
            "f9335d1744bf3b62"
        ],
        "x": 34,
        "y": 399
    },
    {
        "id": "646c1b5e7b2902c8",
        "type": "group",
        "z": "3049115b8d3d971d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1f1a35edd835b120",
            "f2bf4321ad8e0594",
            "52c6735083a314d7",
            "b17dc552f66360b0"
        ],
        "x": 74,
        "y": 59
    },
    {
        "id": "3aeb67bbf7ebc16c",
        "type": "group",
        "z": "97570cd0c7150bd5",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "53c2a9d79b906bb9",
            "9a2c86219ee7b306",
            "2b6cd4112e3a1d9f"
        ],
        "x": 54,
        "y": 39
    },
    {
        "id": "861a09986a42fb22",
        "type": "group",
        "z": "97570cd0c7150bd5",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c498a57574727ef4",
            "e047e230ce428050",
            "b7d1ea5e6a411309"
        ],
        "x": 54,
        "y": 259
    },
    {
        "id": "0e464c3096fa78b4",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2ff557d85497cf2a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "My Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5d3245bfbfc17903",
        "type": "mqtt-broker",
        "name": "ProdSup",
        "broker": "35.240.248.118",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e69e69a9959692c8",
        "type": "firebase admin",
        "name": "Adjusted"
    },
    {
        "id": "c07a1508a4bce39c",
        "type": "ui_group",
        "name": "Incident",
        "tab": "0e464c3096fa78b4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d0aa13f66c8b8c4",
        "type": "ui_tab",
        "name": "Control",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "871c51e643532b28",
        "type": "ui_group",
        "name": "Light",
        "tab": "3d0aa13f66c8b8c4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d60b0376d6144a48",
        "type": "mqtt-broker",
        "name": "ProdSup2",
        "broker": "35.240.248.118",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0bcace1c37b96e4e",
        "type": "ui_tab",
        "name": "Home - Reading",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f83404baf46e6560",
        "type": "ui_group",
        "name": "Test Reading",
        "tab": "0bcace1c37b96e4e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "77f04b51e37f9722",
        "type": "ui_tab",
        "name": "Home - Control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "028fd3e511a2e49b",
        "type": "ui_group",
        "name": "Test Control",
        "tab": "77f04b51e37f9722",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dbba3fc7a3a306ad",
        "type": "ui_spacer",
        "z": "42323f5cd5a1a54b",
        "name": "spacer",
        "group": "028fd3e511a2e49b",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "b84b4529cbf82b63",
        "type": "mqtt-broker",
        "name": "Prodsup",
        "broker": "35.240.248.118",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "20bc5e449005364b",
        "type": "ui_tab",
        "name": "Form",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "68434470e640def5",
        "type": "ui_group",
        "name": "Form",
        "tab": "20bc5e449005364b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3cf41c2fb12e3bc9",
        "type": "ui_tab",
        "name": "On Off",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b380554b4b75f155",
        "type": "ui_group",
        "name": "On Off",
        "tab": "3cf41c2fb12e3bc9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2dcd42ec2e7cf850",
        "type": "ui_tab",
        "name": "Machine",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f7f4a6a5887ae50d",
        "type": "ui_group",
        "name": "Machine 1",
        "tab": "2dcd42ec2e7cf850",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "89b13d61e17a6320",
        "type": "inject",
        "z": "1252c8c9df17633c",
        "g": "cd3a1dfe73fbb0b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "dc3f0ed51c15237c"
            ]
        ]
    },
    {
        "id": "dc3f0ed51c15237c",
        "type": "debug",
        "z": "1252c8c9df17633c",
        "g": "cd3a1dfe73fbb0b7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "5e1d65429e304b2a",
        "type": "inject",
        "z": "1252c8c9df17633c",
        "g": "cb24e92275a1331f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "d1db45c59e7d7eac"
            ]
        ]
    },
    {
        "id": "5e681d6d98cbb7e2",
        "type": "debug",
        "z": "1252c8c9df17633c",
        "g": "cb24e92275a1331f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "d1db45c59e7d7eac",
        "type": "function",
        "z": "1252c8c9df17633c",
        "g": "cb24e92275a1331f",
        "name": "Format Date",
        "func": "const payload = msg.payload;\nconst date = new Date(payload);\nmsg.payload = date.toDateString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 260,
        "wires": [
            [
                "5e681d6d98cbb7e2"
            ]
        ]
    },
    {
        "id": "a673f74f2aa523ca",
        "type": "inject",
        "z": "1252c8c9df17633c",
        "d": true,
        "g": "3a9fc94f77ddccba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "2e22c331d45b3671"
            ]
        ]
    },
    {
        "id": "d07742bbd719120a",
        "type": "debug",
        "z": "1252c8c9df17633c",
        "g": "3a9fc94f77ddccba",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 440,
        "wires": []
    },
    {
        "id": "2e22c331d45b3671",
        "type": "function",
        "z": "1252c8c9df17633c",
        "g": "3a9fc94f77ddccba",
        "name": "",
        "func": "msg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 440,
        "wires": [
            [
                "59012472878b7b73"
            ]
        ]
    },
    {
        "id": "59012472878b7b73",
        "type": "switch",
        "z": "1252c8c9df17633c",
        "g": "3a9fc94f77ddccba",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0.5",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "0.5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "9b5c6a10f91a76f8"
            ],
            [
                "35bedee8b9976bfe"
            ]
        ]
    },
    {
        "id": "9b5c6a10f91a76f8",
        "type": "change",
        "z": "1252c8c9df17633c",
        "g": "3a9fc94f77ddccba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "High Value",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 400,
        "wires": [
            [
                "d07742bbd719120a"
            ]
        ]
    },
    {
        "id": "35bedee8b9976bfe",
        "type": "change",
        "z": "1252c8c9df17633c",
        "g": "3a9fc94f77ddccba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Low Vaue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 480,
        "wires": [
            [
                "d07742bbd719120a"
            ]
        ]
    },
    {
        "id": "23d83776dbd6058f",
        "type": "http request",
        "z": "b18cbfe091ba6855",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "d639491a74b94604",
                "706fe0a7a08e01a9"
            ]
        ]
    },
    {
        "id": "d639491a74b94604",
        "type": "debug",
        "z": "b18cbfe091ba6855",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "36ea01f44fd1555b",
        "type": "inject",
        "z": "b18cbfe091ba6855",
        "name": "",
        "props": [
            {
                "p": "url",
                "v": "http://google.com",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "23d83776dbd6058f"
            ]
        ]
    },
    {
        "id": "706fe0a7a08e01a9",
        "type": "file",
        "z": "b18cbfe091ba6855",
        "name": "",
        "filename": "index.html",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 590,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ee1330060e50ca36",
        "type": "http in",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "Hello",
        "url": "hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "d6b5ebbeacf25284"
            ]
        ]
    },
    {
        "id": "4be378a2fed65530",
        "type": "template",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "Response Text",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Hi there! Right now it is {{time}}.",
        "output": "str",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "a97083d6b04fc1ed",
                "461c0b30470e8a39"
            ]
        ]
    },
    {
        "id": "a97083d6b04fc1ed",
        "type": "http response",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "Hello",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "461c0b30470e8a39",
        "type": "debug",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "d6b5ebbeacf25284",
        "type": "function",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "",
        "func": "const date = new Date()\nmsg.time = date.toLocaleTimeString()  \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 140,
        "wires": [
            [
                "4be378a2fed65530"
            ]
        ]
    },
    {
        "id": "bb1ac70e92b1318a",
        "type": "inject",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "50abfe7e5c8182ce"
            ]
        ]
    },
    {
        "id": "50abfe7e5c8182ce",
        "type": "http request",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:1880/hello",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8b1fceb67dc4ad76",
        "type": "comment",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "Testing",
        "info": "",
        "x": 120,
        "y": 220,
        "wires": []
    },
    {
        "id": "d834ad21bd37ea96",
        "type": "comment",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "HTTP server responding to /hello",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "ea1de657d8c653f9",
        "type": "http in",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "Home",
        "url": "home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "50928955532f3861"
            ]
        ]
    },
    {
        "id": "d54173e064070dc1",
        "type": "http response",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "HTML",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "cd0fdf70f288a758",
        "type": "debug",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 540,
        "wires": []
    },
    {
        "id": "50928955532f3861",
        "type": "file in",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "",
        "filename": "html/index.html",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 320,
        "y": 480,
        "wires": [
            [
                "d54173e064070dc1",
                "cd0fdf70f288a758"
            ]
        ]
    },
    {
        "id": "56ac7fd7448b4092",
        "type": "comment",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "HTTP server responding to /home",
        "info": "",
        "x": 200,
        "y": 420,
        "wires": []
    },
    {
        "id": "e14bea57abc80f81",
        "type": "inject",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 680,
        "wires": [
            [
                "5cfa6b4f621dda44"
            ]
        ]
    },
    {
        "id": "5cfa6b4f621dda44",
        "type": "http request",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:1880/home",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "2662dd203444845c",
        "type": "comment",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "Testing",
        "info": "",
        "x": 110,
        "y": 640,
        "wires": []
    },
    {
        "id": "b0f5041a8300453b",
        "type": "http in",
        "z": "360e94ece4fe56a9",
        "g": "9e71dda4f602f907",
        "name": "Post1",
        "url": "post1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "407f7ff0db36cb80"
            ]
        ]
    },
    {
        "id": "2df487027fd68320",
        "type": "http response",
        "z": "360e94ece4fe56a9",
        "g": "9e71dda4f602f907",
        "name": "Reply",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "140392d7dcb92019",
        "type": "debug",
        "z": "360e94ece4fe56a9",
        "g": "9e71dda4f602f907",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "407f7ff0db36cb80",
        "type": "template",
        "z": "360e94ece4fe56a9",
        "g": "9e71dda4f602f907",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "I got your message: {{payload}} !",
        "output": "str",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "2df487027fd68320"
            ]
        ]
    },
    {
        "id": "f4f1a8977f0267cb",
        "type": "http request",
        "z": "360e94ece4fe56a9",
        "g": "9e71dda4f602f907",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "140392d7dcb92019"
            ]
        ]
    },
    {
        "id": "3cacd8cc84c25d0d",
        "type": "inject",
        "z": "360e94ece4fe56a9",
        "g": "9e71dda4f602f907",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1880/post1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you.",
        "payloadType": "str",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "f4f1a8977f0267cb"
            ]
        ]
    },
    {
        "id": "be1facca84f1a262",
        "type": "http in",
        "z": "360e94ece4fe56a9",
        "g": "a7d9c5d3e9751545",
        "name": "Post2",
        "url": "post2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "fc6dc92850034d6c"
            ]
        ]
    },
    {
        "id": "2075593d277b8894",
        "type": "http response",
        "z": "360e94ece4fe56a9",
        "g": "a7d9c5d3e9751545",
        "name": "Reply",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "fc6dc92850034d6c",
        "type": "function",
        "z": "360e94ece4fe56a9",
        "g": "a7d9c5d3e9751545",
        "name": "",
        "func": "const message = msg.payload\nconst date = new Date()\nconst time = date.toLocaleTimeString()\n\nmsg.payload = `I got your message \"${message}\" at ${time} !`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 500,
        "wires": [
            [
                "2075593d277b8894"
            ]
        ]
    },
    {
        "id": "82066d4d95eac850",
        "type": "debug",
        "z": "360e94ece4fe56a9",
        "g": "a7d9c5d3e9751545",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 640,
        "wires": []
    },
    {
        "id": "ae39f6c7a5a69714",
        "type": "http request",
        "z": "360e94ece4fe56a9",
        "g": "a7d9c5d3e9751545",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 640,
        "wires": [
            [
                "82066d4d95eac850"
            ]
        ]
    },
    {
        "id": "1073004a64c0287f",
        "type": "inject",
        "z": "360e94ece4fe56a9",
        "g": "a7d9c5d3e9751545",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1880/post2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you.",
        "payloadType": "str",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "ae39f6c7a5a69714"
            ]
        ]
    },
    {
        "id": "b60c655ae305692f",
        "type": "comment",
        "z": "360e94ece4fe56a9",
        "g": "9e71dda4f602f907",
        "name": "HTTP server /post1",
        "info": "",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "2ab4bca595ab1009",
        "type": "comment",
        "z": "360e94ece4fe56a9",
        "g": "9e71dda4f602f907",
        "name": "Post request",
        "info": "",
        "x": 130,
        "y": 240,
        "wires": []
    },
    {
        "id": "c5a434c9a713e461",
        "type": "comment",
        "z": "360e94ece4fe56a9",
        "g": "a7d9c5d3e9751545",
        "name": "HTTP server /post2",
        "info": "",
        "x": 150,
        "y": 440,
        "wires": []
    },
    {
        "id": "f9335d1744bf3b62",
        "type": "comment",
        "z": "360e94ece4fe56a9",
        "g": "a7d9c5d3e9751545",
        "name": "Post Request",
        "info": "",
        "x": 130,
        "y": 580,
        "wires": []
    },
    {
        "id": "1f1a35edd835b120",
        "type": "inject",
        "z": "3049115b8d3d971d",
        "g": "646c1b5e7b2902c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"Content-Type\":\"application/x-www-form-urlencoded\",\"Authorization\":\"Bearer E0ypwB3Xn6IG91HKx7sTRCxrIkVOnq3HgMc6EkOES1K\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"Hello\"}",
        "payloadType": "json",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "f2bf4321ad8e0594"
            ]
        ]
    },
    {
        "id": "f2bf4321ad8e0594",
        "type": "http request",
        "z": "3049115b8d3d971d",
        "g": "646c1b5e7b2902c8",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://notify-api.line.me/api/notify",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "52c6735083a314d7"
            ]
        ]
    },
    {
        "id": "52c6735083a314d7",
        "type": "debug",
        "z": "3049115b8d3d971d",
        "g": "646c1b5e7b2902c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "b17dc552f66360b0",
        "type": "comment",
        "z": "3049115b8d3d971d",
        "g": "646c1b5e7b2902c8",
        "name": "Line Notify",
        "info": "",
        "x": 160,
        "y": 100,
        "wires": []
    },
    {
        "id": "53c2a9d79b906bb9",
        "type": "mqtt in",
        "z": "97570cd0c7150bd5",
        "d": true,
        "g": "3aeb67bbf7ebc16c",
        "name": "",
        "topic": "test/main",
        "qos": "1",
        "datatype": "auto",
        "broker": "d60b0376d6144a48",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "9a2c86219ee7b306"
            ]
        ]
    },
    {
        "id": "9a2c86219ee7b306",
        "type": "debug",
        "z": "97570cd0c7150bd5",
        "g": "3aeb67bbf7ebc16c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "c498a57574727ef4",
        "type": "mqtt out",
        "z": "97570cd0c7150bd5",
        "d": true,
        "g": "861a09986a42fb22",
        "name": "",
        "topic": "test/main",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d60b0376d6144a48",
        "x": 420,
        "y": 360,
        "wires": []
    },
    {
        "id": "e047e230ce428050",
        "type": "inject",
        "z": "97570cd0c7150bd5",
        "g": "861a09986a42fb22",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "c498a57574727ef4"
            ]
        ]
    },
    {
        "id": "2b6cd4112e3a1d9f",
        "type": "comment",
        "z": "97570cd0c7150bd5",
        "g": "3aeb67bbf7ebc16c",
        "name": "Subscribe to a topic",
        "info": "",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "b7d1ea5e6a411309",
        "type": "comment",
        "z": "97570cd0c7150bd5",
        "g": "861a09986a42fb22",
        "name": "Publish to a topic",
        "info": "",
        "x": 160,
        "y": 300,
        "wires": []
    },
    {
        "id": "e0aef0052bda6471",
        "type": "inject",
        "z": "f2ec89c9e13ddd9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "58bb86341f0f3501"
            ]
        ]
    },
    {
        "id": "58bb86341f0f3501",
        "type": "exec",
        "z": "f2ec89c9e13ddd9c",
        "command": "termux-sensor -s LSM6DSO Acceleration Sensor",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 500,
        "y": 120,
        "wires": [
            [
                "276dc1b59b2da818",
                "763e53c109b1b8e4"
            ],
            [
                "276dc1b59b2da818"
            ],
            [
                "276dc1b59b2da818"
            ]
        ]
    },
    {
        "id": "276dc1b59b2da818",
        "type": "debug",
        "z": "f2ec89c9e13ddd9c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "5823a7d8fd99a617",
        "type": "exec",
        "z": "f2ec89c9e13ddd9c",
        "command": "termux-sensor -c",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "7781cf292a617351"
            ],
            [
                "7781cf292a617351"
            ],
            [
                "7781cf292a617351"
            ]
        ]
    },
    {
        "id": "f3eaa68ab34bbfb1",
        "type": "inject",
        "z": "f2ec89c9e13ddd9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "5823a7d8fd99a617"
            ]
        ]
    },
    {
        "id": "763e53c109b1b8e4",
        "type": "mqtt out",
        "z": "f2ec89c9e13ddd9c",
        "d": true,
        "name": "",
        "topic": "test/LSM6DSO",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b84b4529cbf82b63",
        "x": 900,
        "y": 80,
        "wires": []
    },
    {
        "id": "7781cf292a617351",
        "type": "debug",
        "z": "f2ec89c9e13ddd9c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "c6a560002a9bc19d",
        "type": "comment",
        "z": "f2ec89c9e13ddd9c",
        "name": "Accelerometer",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "58466b683f94cfa8",
        "type": "comment",
        "z": "f2ec89c9e13ddd9c",
        "name": "Reset sensors",
        "info": "",
        "x": 190,
        "y": 260,
        "wires": []
    },
    {
        "id": "9d18a612c9dcf204",
        "type": "mqtt in",
        "z": "dd2fedbc45d34aa1",
        "d": true,
        "name": "",
        "topic": "test/LSM6DSO",
        "qos": "1",
        "datatype": "auto",
        "broker": "5d3245bfbfc17903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "2849f7e23d58da2c"
            ]
        ]
    },
    {
        "id": "0285cebada45688f",
        "type": "debug",
        "z": "dd2fedbc45d34aa1",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "2849f7e23d58da2c",
        "type": "json",
        "z": "dd2fedbc45d34aa1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "140a86300913a6e4"
            ]
        ]
    },
    {
        "id": "140a86300913a6e4",
        "type": "function",
        "z": "dd2fedbc45d34aa1",
        "name": "",
        "func": "const payloadJSON =  msg.payload\nconst values = payloadJSON['LSM6DSO Acceleration Sensor'].values\nconst norm = Math.sqrt( values[0]**2 + values[1]**2 + values[2]**2)\nmsg.payload = norm\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 120,
        "wires": [
            [
                "0285cebada45688f"
            ]
        ]
    },
    {
        "id": "694c830cfb564be2",
        "type": "comment",
        "z": "dd2fedbc45d34aa1",
        "name": "Sensor Subscriber",
        "info": "",
        "x": 220,
        "y": 60,
        "wires": []
    },
    {
        "id": "e6f191eb8332a33b",
        "type": "inject",
        "z": "ea83331cc935d51f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "af0fd483d3f88a30"
            ]
        ]
    },
    {
        "id": "af0fd483d3f88a30",
        "type": "function",
        "z": "ea83331cc935d51f",
        "name": "",
        "func": "msg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 120,
        "wires": [
            [
                "1ef8a30b47d046da"
            ]
        ]
    },
    {
        "id": "1ef8a30b47d046da",
        "type": "mqtt out",
        "z": "ea83331cc935d51f",
        "d": true,
        "name": "",
        "topic": "test/fakesensor",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5d3245bfbfc17903",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "f91fa2d8c91e62bd",
        "type": "mqtt in",
        "z": "ea83331cc935d51f",
        "d": true,
        "name": "",
        "topic": "test/fakesensor",
        "qos": "1",
        "datatype": "auto",
        "broker": "5d3245bfbfc17903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 260,
        "wires": [
            [
                "23fb0bba32f153c0"
            ]
        ]
    },
    {
        "id": "3c3cd6c53a5f41a0",
        "type": "debug",
        "z": "ea83331cc935d51f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 260,
        "wires": []
    },
    {
        "id": "23fb0bba32f153c0",
        "type": "function",
        "z": "ea83331cc935d51f",
        "name": "",
        "func": "const payload = msg.payload;\nmsg.payload = parseFloat(payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 260,
        "wires": [
            [
                "3c3cd6c53a5f41a0"
            ]
        ]
    },
    {
        "id": "d15b42a64fc36e71",
        "type": "comment",
        "z": "ea83331cc935d51f",
        "name": "Fake sensor",
        "info": "",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "f121f7a5d2c319ad",
        "type": "comment",
        "z": "ea83331cc935d51f",
        "name": "Fake-sensor subscriber",
        "info": "",
        "x": 120,
        "y": 200,
        "wires": []
    },
    {
        "id": "413552add17de23b",
        "type": "inject",
        "z": "740aab15e2c10d31",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "26c968d87cface70"
            ]
        ]
    },
    {
        "id": "bab631aacafb4eef",
        "type": "ui_chart",
        "z": "740aab15e2c10d31",
        "name": "",
        "group": "f83404baf46e6560",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "26c968d87cface70",
        "type": "function",
        "z": "740aab15e2c10d31",
        "name": "",
        "func": "const timestamp = msg.payload\nconst period = 10\nmsg.payload = Math.sin(timestamp/1000*2*Math.PI/period)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 120,
        "wires": [
            [
                "bab631aacafb4eef",
                "706f72f5ba713358"
            ]
        ]
    },
    {
        "id": "706f72f5ba713358",
        "type": "ui_gauge",
        "z": "740aab15e2c10d31",
        "name": "",
        "group": "f83404baf46e6560",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "b3ad01f18dd29bda",
        "type": "comment",
        "z": "740aab15e2c10d31",
        "name": "Graph and gauge",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "f32c4770eaef2cb7",
        "type": "ui_button",
        "z": "42323f5cd5a1a54b",
        "name": "",
        "group": "028fd3e511a2e49b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "start",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "9208b0fdcc8341f6"
            ]
        ]
    },
    {
        "id": "9208b0fdcc8341f6",
        "type": "mqtt out",
        "z": "42323f5cd5a1a54b",
        "d": true,
        "name": "",
        "topic": "test/flashlight",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5d3245bfbfc17903",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "3d19f312112d01c4",
        "type": "mqtt in",
        "z": "42323f5cd5a1a54b",
        "d": true,
        "name": "",
        "topic": "test/flashlight",
        "qos": "1",
        "datatype": "auto",
        "broker": "5d3245bfbfc17903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 340,
        "wires": [
            [
                "8c08f9be6f9da7b2"
            ]
        ]
    },
    {
        "id": "d90dedefa169d85c",
        "type": "debug",
        "z": "42323f5cd5a1a54b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 340,
        "wires": []
    },
    {
        "id": "8c08f9be6f9da7b2",
        "type": "template",
        "z": "42323f5cd5a1a54b",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "I will {{payload}} now !",
        "output": "str",
        "x": 320,
        "y": 340,
        "wires": [
            [
                "d90dedefa169d85c"
            ]
        ]
    },
    {
        "id": "e406ee288738b18b",
        "type": "ui_button",
        "z": "42323f5cd5a1a54b",
        "name": "",
        "group": "028fd3e511a2e49b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "9208b0fdcc8341f6"
            ]
        ]
    },
    {
        "id": "d5b1dfdefb79cf52",
        "type": "comment",
        "z": "42323f5cd5a1a54b",
        "name": "Control buttons",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "3cdb960af67f55e0",
        "type": "comment",
        "z": "42323f5cd5a1a54b",
        "name": "Device receiving command",
        "info": "",
        "x": 170,
        "y": 280,
        "wires": []
    },
    {
        "id": "b662ca0d9a6fffc0",
        "type": "mqtt in",
        "z": "dedfba256312356e",
        "d": true,
        "name": "",
        "topic": "nnnpooh/sensors",
        "qos": "2",
        "datatype": "auto",
        "broker": "5d3245bfbfc17903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "b55c57ca76abe546"
            ]
        ]
    },
    {
        "id": "b55c57ca76abe546",
        "type": "function",
        "z": "dedfba256312356e",
        "name": "",
        "func": "const payloadJSON =  JSON.parse(msg.payload);\nconst values = payloadJSON['LSM6DSO Acceleration Sensor'].values\nconst norm = Math.sqrt( values[0]**2 + values[1]**2 + values[2]**2)\nmsg.payload = norm\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "a140fb6ad9eac996",
                "76ba1718164872ee",
                "d067b62bb4ed888b"
            ]
        ]
    },
    {
        "id": "b59304987ee4f56b",
        "type": "inject",
        "z": "dedfba256312356e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "b55c57ca76abe546"
            ]
        ]
    },
    {
        "id": "a140fb6ad9eac996",
        "type": "switch",
        "z": "dedfba256312356e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "90ea110c514838e4",
                "23a030ece1edb17e"
            ],
            []
        ]
    },
    {
        "id": "4b6f65dd04ac59f0",
        "type": "http request",
        "z": "dedfba256312356e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://notify-api.line.me/api/notify",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 910,
        "y": 140,
        "wires": [
            [
                "0dc3e17b2962ebe4"
            ]
        ]
    },
    {
        "id": "0dc3e17b2962ebe4",
        "type": "debug",
        "z": "dedfba256312356e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 140,
        "wires": []
    },
    {
        "id": "90ea110c514838e4",
        "type": "function",
        "z": "dedfba256312356e",
        "name": "",
        "func": "console.log(msg)\nconst date = new Date()\nconst datestring = date.toLocaleDateString()\nconst timestring = date.toLocaleTimeString()\n    \n    \nmsg.payload = {\n    message: `${datestring} ${timestring}\\nValue: ${msg.payload.toFixed(2)}`    \n}\n\nconst auth = `Bearer ${env.get(\"LINE_NOTIFY_TOKEN\")}`\nmsg.headers = {\n    \"Content-Type\":\"application/x-www-form-urlencoded\",\n    \"Authorization\": auth}\n\nconsole.log(msg)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 140,
        "wires": [
            [
                "4b6f65dd04ac59f0"
            ]
        ]
    },
    {
        "id": "82b0fb85ea7581c8",
        "type": "debug",
        "z": "dedfba256312356e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 520,
        "wires": []
    },
    {
        "id": "2294d76429384be1",
        "type": "Firestore in",
        "z": "dedfba256312356e",
        "d": true,
        "name": "Read",
        "collection": "incident",
        "group": false,
        "document": "",
        "realtime": true,
        "query": [
            {
                "orderBy": {
                    "field": "timestamp",
                    "direction": "desc"
                }
            },
            {
                "limit": 10
            }
        ],
        "admin": "e69e69a9959692c8",
        "snapHandler": "",
        "eject": false,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "47e5b174c1279601"
            ]
        ]
    },
    {
        "id": "bfc060f6da0d2c64",
        "type": "Firestore out",
        "z": "dedfba256312356e",
        "d": true,
        "name": "Write",
        "collection": "incident",
        "document": "test",
        "operation": "set",
        "admin": "e69e69a9959692c8",
        "eject": false,
        "x": 950,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "23a030ece1edb17e",
        "type": "function",
        "z": "dedfba256312356e",
        "name": "",
        "func": "const val = msg.payload\nconst now = new Date()\nconst timestamp = now.getTime()\nconst dateString = now.toISOString();\nmsg.payload = {timestamp:timestamp,  value: val}\nmsg.firestore = {\"document\": dateString}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 240,
        "wires": [
            [
                "bfc060f6da0d2c64"
            ]
        ]
    },
    {
        "id": "3183c3978a7f15b0",
        "type": "ui_text",
        "z": "dedfba256312356e",
        "group": "c07a1508a4bce39c",
        "order": 3,
        "width": "6",
        "height": "5",
        "name": "",
        "label": "Last 10 Incidents",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "47e5b174c1279601",
        "type": "function",
        "z": "dedfba256312356e",
        "name": "",
        "func": "let payload = msg.payload\nlet textOut = ''\n\nfor (const [key, value] of Object.entries(payload)) {\n    const date = new Date(value.timestamp)\n    const datestring = date.toLocaleDateString()\n    const timestring = date.toLocaleTimeString()\n    const reading = value.value.toFixed(2)\n    textOut += `${datestring} ${timestring}: ${reading} \\n`\n}\n\nmsg.payload = textOut;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 460,
        "wires": [
            [
                "82b0fb85ea7581c8",
                "3183c3978a7f15b0"
            ]
        ]
    },
    {
        "id": "be61f758f671d229",
        "type": "comment",
        "z": "dedfba256312356e",
        "name": "Receiving sensor data",
        "info": "MQTT",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "76ba1718164872ee",
        "type": "ui_chart",
        "z": "dedfba256312356e",
        "name": "",
        "group": "c07a1508a4bce39c",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d067b62bb4ed888b",
        "type": "ui_gauge",
        "z": "dedfba256312356e",
        "name": "",
        "group": "c07a1508a4bce39c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "8",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "1b26f81987873089",
        "type": "mqtt out",
        "z": "dedfba256312356e",
        "d": true,
        "name": "",
        "topic": "nnnpooh/light",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5d3245bfbfc17903",
        "x": 440,
        "y": 640,
        "wires": []
    },
    {
        "id": "cebae9bbd16461d0",
        "type": "ui_button",
        "z": "dedfba256312356e",
        "name": "",
        "group": "871c51e643532b28",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Light On",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "torch_on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "1b26f81987873089",
                "e72fcf8e3a0ec588"
            ]
        ]
    },
    {
        "id": "079370b1b43d42d2",
        "type": "ui_button",
        "z": "dedfba256312356e",
        "name": "",
        "group": "871c51e643532b28",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Light Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "gray",
        "className": "",
        "icon": "",
        "payload": "torch_off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "1b26f81987873089",
                "e72fcf8e3a0ec588"
            ]
        ]
    },
    {
        "id": "e72fcf8e3a0ec588",
        "type": "debug",
        "z": "dedfba256312356e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 760,
        "wires": []
    },
    {
        "id": "ae4368b087918d14",
        "type": "comment",
        "z": "dedfba256312356e",
        "name": "Display data from Firebase",
        "info": "MQTT",
        "x": 170,
        "y": 400,
        "wires": []
    },
    {
        "id": "f2f8bdf9678dcd5c",
        "type": "comment",
        "z": "dedfba256312356e",
        "name": "Controlling light",
        "info": "MQTT",
        "x": 140,
        "y": 580,
        "wires": []
    },
    {
        "id": "2e2c5b29411b1191",
        "type": "inject",
        "z": "9cab3d86bb384ee4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "LINE_NOTIFY_TOKEN",
        "payloadType": "env",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "ddbd2ad8e14cc9a6"
            ]
        ]
    },
    {
        "id": "ddbd2ad8e14cc9a6",
        "type": "debug",
        "z": "9cab3d86bb384ee4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "19bfefcd380a4bac",
        "type": "inject",
        "z": "9cab3d86bb384ee4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"Content-Type\":\"application/x-www-form-urlencoded\",\"Authorization\":\"Bearer <<YOUR LINE TOKEN>>\"}",
                "vt": "json"
            },
            {
                "p": "Test",
                "v": "LINE_NOTIFY_TOKEN2",
                "vt": "env"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"Hello\"}",
        "payloadType": "json",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "1c4b6473ef7f4712"
            ]
        ]
    },
    {
        "id": "1c4b6473ef7f4712",
        "type": "function",
        "z": "9cab3d86bb384ee4",
        "name": "",
        "func": "msg.headers.Authorization = `Bearer ${env.get('LINE_NOTIFY_TOKEN2')}`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "cd5770bc81803a34",
        "type": "debug",
        "z": "e80d5bb4a04c9975",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 60,
        "wires": []
    },
    {
        "id": "0ab0ba3cf3280e79",
        "type": "Firestore in",
        "z": "e80d5bb4a04c9975",
        "d": true,
        "name": "Read",
        "collection": "incident",
        "group": false,
        "document": "",
        "realtime": true,
        "query": [
            {
                "orderBy": {
                    "field": "timestamp",
                    "direction": "desc"
                }
            },
            {
                "limit": 10
            }
        ],
        "admin": "e69e69a9959692c8",
        "snapHandler": "",
        "eject": false,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "f87ad3650245326b"
            ]
        ]
    },
    {
        "id": "5df5c4e6cfbb7999",
        "type": "inject",
        "z": "e80d5bb4a04c9975",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "firestore",
                "v": "{\"document\":\"1234\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "62567ed060928356"
            ]
        ]
    },
    {
        "id": "5ceee284919488f6",
        "type": "Firestore out",
        "z": "e80d5bb4a04c9975",
        "d": true,
        "name": "Write",
        "collection": "incident",
        "document": "test",
        "operation": "set",
        "admin": "e69e69a9959692c8",
        "eject": false,
        "x": 850,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "62567ed060928356",
        "type": "function",
        "z": "e80d5bb4a04c9975",
        "name": "",
        "func": "const timestamp = msg.payload\nconst date = new Date();\nconst dateString = date.toISOString();\n\nmsg.payload = {timestamp:timestamp,  value: Math.random()}\nmsg.firestore = {\"document\": dateString}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 160,
        "wires": [
            [
                "5ceee284919488f6"
            ]
        ]
    },
    {
        "id": "f87ad3650245326b",
        "type": "function",
        "z": "e80d5bb4a04c9975",
        "name": "",
        "func": "let payload = msg.payload\nlet textOut = ''\n\nfor (const [key, value] of Object.entries(payload)) {\n    const date = new Date(value.timestamp)\n    const datestring = date.toLocaleDateString()\n    const timestring = date.toLocaleTimeString()\n    const reading = value.value.toFixed(2)\n    \n    \n    textOut += `${datestring} ${timestring}: ${reading} \\n`\n    \n    \n}\n\n\nmsg.payload = textOut;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 60,
        "wires": [
            [
                "cd5770bc81803a34"
            ]
        ]
    },
    {
        "id": "8fe770a2e6183dd2",
        "type": "http request",
        "z": "dbbde358191b7d76",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://materials-line.herokuapp.com/prodsup",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "aa1e8c4f377dfaae"
            ]
        ]
    },
    {
        "id": "644ec28244394e54",
        "type": "inject",
        "z": "dbbde358191b7d76",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"cmu_id\":\"111222333\",\"code\":\"xxxx\"}",
        "payloadType": "json",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "8fe770a2e6183dd2"
            ]
        ]
    },
    {
        "id": "aa1e8c4f377dfaae",
        "type": "debug",
        "z": "dbbde358191b7d76",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "795a12c0b58bb731",
        "type": "comment",
        "z": "dbbde358191b7d76",
        "name": "Attendance",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "5456ae4367822ebd",
        "type": "inject",
        "z": "2822d6ced22c9130",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "8914d97cf0b8a065"
            ]
        ]
    },
    {
        "id": "8914d97cf0b8a065",
        "type": "exec",
        "z": "2822d6ced22c9130",
        "command": "start msedge cmu.ac.th",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "eb78b74c1d17fea8",
        "type": "timeout",
        "z": "4742e18bcfcf70df",
        "d": true,
        "name": "My Timeout",
        "outtopic": "test",
        "outsafe": "On",
        "outwarning": "About to off",
        "outunsafe": "Off",
        "warning": "2",
        "timer": "5",
        "repeat": false,
        "again": false,
        "x": 490,
        "y": 460,
        "wires": [
            [
                "9fd3bbbb649ad77b"
            ]
        ]
    },
    {
        "id": "0ec9680154c76e48",
        "type": "inject",
        "z": "4742e18bcfcf70df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "safe",
        "payloadType": "str",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "eb78b74c1d17fea8"
            ]
        ]
    },
    {
        "id": "9fd3bbbb649ad77b",
        "type": "debug",
        "z": "4742e18bcfcf70df",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "d1e5406972ca7b1f",
        "type": "inject",
        "z": "4742e18bcfcf70df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "unsafe",
        "payloadType": "str",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "eb78b74c1d17fea8"
            ]
        ]
    },
    {
        "id": "0b6a3befc2f2c505",
        "type": "inject",
        "z": "4742e18bcfcf70df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "safe",
        "payloadType": "str",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "50861b9fd7905c23"
            ]
        ]
    },
    {
        "id": "50861b9fd7905c23",
        "type": "mqtt out",
        "z": "4742e18bcfcf70df",
        "d": true,
        "name": "",
        "topic": "test/onoff",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5d3245bfbfc17903",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "3e1e645b2fd6afd4",
        "type": "mqtt in",
        "z": "4742e18bcfcf70df",
        "d": true,
        "name": "",
        "topic": "test/onoff",
        "qos": "1",
        "datatype": "auto",
        "broker": "5d3245bfbfc17903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "e805d8e8e428a625"
            ]
        ]
    },
    {
        "id": "e805d8e8e428a625",
        "type": "timeout",
        "z": "4742e18bcfcf70df",
        "d": true,
        "name": "My Timeout",
        "outtopic": "",
        "outsafe": "Machine Running",
        "outwarning": "Machine about to turn off",
        "outunsafe": "Machine Turn Off",
        "warning": "3",
        "timer": "8",
        "repeat": false,
        "again": false,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "ca2b1a1377b58723"
            ]
        ]
    },
    {
        "id": "ca2b1a1377b58723",
        "type": "debug",
        "z": "4742e18bcfcf70df",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "b455d8c521d7d442",
        "type": "mqtt in",
        "z": "dd0083169b22be12",
        "d": true,
        "name": "",
        "topic": "test/lux",
        "qos": "1",
        "datatype": "auto",
        "broker": "5d3245bfbfc17903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 80,
        "wires": [
            [
                "75ab8f94ed6a4bdf"
            ]
        ]
    },
    {
        "id": "77d32f2550b0ae5a",
        "type": "debug",
        "z": "dd0083169b22be12",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "75ab8f94ed6a4bdf",
        "type": "json",
        "z": "dd0083169b22be12",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "6f85a993688418be"
            ]
        ]
    },
    {
        "id": "6f85a993688418be",
        "type": "function",
        "z": "dd0083169b22be12",
        "name": "",
        "func": "const payload = msg.payload\nconst value = payload[\"TMD4910 Uncalibrated lux Sensor\"][\"values\"][0]\nmsg.payload = value\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 80,
        "wires": [
            [
                "77d32f2550b0ae5a"
            ]
        ]
    },
    {
        "id": "e144a14982462038",
        "type": "inject",
        "z": "446596183d3402ad",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "669487b7cbfc81c1"
            ]
        ]
    },
    {
        "id": "669487b7cbfc81c1",
        "type": "function",
        "z": "446596183d3402ad",
        "name": "",
        "func": "msg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 140,
        "wires": [
            [
                "639e9d9aa9186efa",
                "50af7b3a81fbf186"
            ]
        ]
    },
    {
        "id": "639e9d9aa9186efa",
        "type": "debug",
        "z": "446596183d3402ad",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "b09e85afea894a45",
        "type": "inject",
        "z": "446596183d3402ad",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "50af7b3a81fbf186",
                "639e9d9aa9186efa"
            ]
        ]
    },
    {
        "id": "84ff14c6ae661064",
        "type": "comment",
        "z": "446596183d3402ad",
        "name": "Sensor",
        "info": "",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "50af7b3a81fbf186",
        "type": "mqtt out",
        "z": "446596183d3402ad",
        "d": true,
        "name": "",
        "topic": "test/fakesensor",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5d3245bfbfc17903",
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "caadfc0d17c17052",
        "type": "mqtt in",
        "z": "446596183d3402ad",
        "d": true,
        "name": "",
        "topic": "test/fakesensor",
        "qos": "1",
        "datatype": "auto",
        "broker": "5d3245bfbfc17903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 460,
        "wires": [
            [
                "725e91a5ce29cefb"
            ]
        ]
    },
    {
        "id": "a652e7d2e41cdb45",
        "type": "comment",
        "z": "446596183d3402ad",
        "name": "Controller",
        "info": "",
        "x": 160,
        "y": 380,
        "wires": []
    },
    {
        "id": "6892f2fb7dbc45b7",
        "type": "debug",
        "z": "446596183d3402ad",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 460,
        "wires": []
    },
    {
        "id": "725e91a5ce29cefb",
        "type": "json",
        "z": "446596183d3402ad",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 360,
        "y": 460,
        "wires": [
            [
                "93b32fd3ebd7b5e0"
            ]
        ]
    },
    {
        "id": "93b32fd3ebd7b5e0",
        "type": "switch",
        "z": "446596183d3402ad",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 460,
        "wires": [
            [],
            [
                "77bf8fd2637d3c49"
            ]
        ]
    },
    {
        "id": "77bf8fd2637d3c49",
        "type": "template",
        "z": "446596183d3402ad",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Send notification to Line",
        "output": "str",
        "x": 690,
        "y": 460,
        "wires": [
            [
                "6892f2fb7dbc45b7"
            ]
        ]
    },
    {
        "id": "2b5dfad70bd4ec8c",
        "type": "ui_form",
        "z": "d7a39cdf96b80bf6",
        "name": "",
        "label": "",
        "group": "68434470e640def5",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "password",
                "value": "password",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "629b618269c82f3b",
                "8e603587c4678fad"
            ]
        ]
    },
    {
        "id": "629b618269c82f3b",
        "type": "debug",
        "z": "d7a39cdf96b80bf6",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 180,
        "wires": []
    },
    {
        "id": "8e603587c4678fad",
        "type": "mqtt out",
        "z": "d7a39cdf96b80bf6",
        "d": true,
        "name": "",
        "topic": "test/form",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5d3245bfbfc17903",
        "x": 280,
        "y": 100,
        "wires": []
    },
    {
        "id": "09f6928ee96311f9",
        "type": "mqtt in",
        "z": "d7a39cdf96b80bf6",
        "d": true,
        "name": "",
        "topic": "test/form",
        "qos": "2",
        "datatype": "auto",
        "broker": "5d3245bfbfc17903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 280,
        "wires": [
            [
                "c90cf47a523a9456"
            ]
        ]
    },
    {
        "id": "cab7d7efbe7170da",
        "type": "debug",
        "z": "d7a39cdf96b80bf6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "c90cf47a523a9456",
        "type": "json",
        "z": "d7a39cdf96b80bf6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "c165e44441576538"
            ]
        ]
    },
    {
        "id": "c165e44441576538",
        "type": "function",
        "z": "d7a39cdf96b80bf6",
        "name": "",
        "func": "const payload = msg.payload\nconst username = payload.username\nconst password = payload.password\n\nmsg.payload = 'failed'\n\nif (username === 'nirand' && password==='1234') {\n    msg.payload = 'sucesss'\n} else if(username === 'tom' && password==='1234') {\n    msg.payload = 'success'    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 400,
        "wires": [
            [
                "87d2c097673a0a08"
            ]
        ]
    },
    {
        "id": "87d2c097673a0a08",
        "type": "switch",
        "z": "d7a39cdf96b80bf6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "failed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "success",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 400,
        "wires": [
            [
                "6a0e2d766a7d32f5"
            ],
            [
                "941a2fb04f090169"
            ]
        ]
    },
    {
        "id": "6a0e2d766a7d32f5",
        "type": "template",
        "z": "d7a39cdf96b80bf6",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Failed to sign in.",
        "output": "str",
        "x": 610,
        "y": 360,
        "wires": [
            [
                "cab7d7efbe7170da"
            ]
        ]
    },
    {
        "id": "941a2fb04f090169",
        "type": "template",
        "z": "d7a39cdf96b80bf6",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "OK",
        "output": "str",
        "x": 650,
        "y": 460,
        "wires": [
            [
                "cab7d7efbe7170da"
            ]
        ]
    },
    {
        "id": "b709041937d220f3",
        "type": "hourglass",
        "z": "4b203693849dfbbd",
        "d": true,
        "name": "",
        "persistId": "",
        "humanizeLocale": "",
        "x": 190,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0d375f03791066ac",
        "type": "timeout",
        "z": "e3db0287044ebd2c",
        "d": true,
        "name": "My Timeout",
        "outtopic": "",
        "outsafe": "start",
        "outwarning": "warning",
        "outunsafe": "stop",
        "warning": "5",
        "timer": "10",
        "repeat": false,
        "again": false,
        "x": 390,
        "y": 100,
        "wires": [
            [
                "5bff28ee90edf4c1"
            ]
        ]
    },
    {
        "id": "e1a2d4119e03e322",
        "type": "debug",
        "z": "e3db0287044ebd2c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 100,
        "wires": []
    },
    {
        "id": "2ca90f404ea09657",
        "type": "inject",
        "z": "e3db0287044ebd2c",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "Countdown",
                "v": "5",
                "vt": "num"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "0d375f03791066ac"
            ]
        ]
    },
    {
        "id": "5bff28ee90edf4c1",
        "type": "switch",
        "z": "e3db0287044ebd2c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "stop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 100,
        "wires": [
            [
                "e1a2d4119e03e322"
            ]
        ]
    },
    {
        "id": "adb2f0146d7993c8",
        "type": "ui_countdown_timer_switch",
        "z": "e3db0287044ebd2c",
        "name": "",
        "label": "",
        "group": "b380554b4b75f155",
        "order": 2,
        "width": 0,
        "height": 0,
        "countdowns": [
            "0.1"
        ],
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "topic": "",
        "outputState": "",
        "showDropdown": false,
        "x": 200,
        "y": 400,
        "wires": [
            [
                "943ae18cfcad5937",
                "4b71a0f229bede93"
            ]
        ]
    },
    {
        "id": "943ae18cfcad5937",
        "type": "debug",
        "z": "e3db0287044ebd2c",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 400,
        "wires": []
    },
    {
        "id": "4b71a0f229bede93",
        "type": "mqtt out",
        "z": "e3db0287044ebd2c",
        "d": true,
        "name": "",
        "topic": "test/onoff",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5d3245bfbfc17903",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "95c27cd972705243",
        "type": "mqtt in",
        "z": "e3db0287044ebd2c",
        "d": true,
        "name": "",
        "topic": "test/onoff",
        "qos": "1",
        "datatype": "auto",
        "broker": "5d3245bfbfc17903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 580,
        "wires": [
            [
                "b21c4a7d7ceaef57",
                "967d5ac8da364ee2"
            ]
        ]
    },
    {
        "id": "c42786aef9fbb12a",
        "type": "ui_text",
        "z": "e3db0287044ebd2c",
        "group": "f7f4a6a5887ae50d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 560,
        "wires": []
    },
    {
        "id": "b21c4a7d7ceaef57",
        "type": "debug",
        "z": "e3db0287044ebd2c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 780,
        "wires": []
    },
    {
        "id": "967d5ac8da364ee2",
        "type": "switch",
        "z": "e3db0287044ebd2c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 580,
        "wires": [
            [
                "2a0a202abae0b0e0"
            ],
            [
                "a3266c41be4a02c8"
            ]
        ]
    },
    {
        "id": "2a0a202abae0b0e0",
        "type": "template",
        "z": "e3db0287044ebd2c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Machine ON",
        "output": "str",
        "x": 540,
        "y": 540,
        "wires": [
            [
                "c42786aef9fbb12a"
            ]
        ]
    },
    {
        "id": "a3266c41be4a02c8",
        "type": "template",
        "z": "e3db0287044ebd2c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Machine OFF",
        "output": "str",
        "x": 540,
        "y": 620,
        "wires": [
            [
                "c42786aef9fbb12a",
                "087533e5383743b9"
            ]
        ]
    },
    {
        "id": "284e7b1fd7064d66",
        "type": "mqtt out",
        "z": "e3db0287044ebd2c",
        "d": true,
        "name": "",
        "topic": "test/line",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5d3245bfbfc17903",
        "x": 900,
        "y": 680,
        "wires": []
    },
    {
        "id": "087533e5383743b9",
        "type": "template",
        "z": "e3db0287044ebd2c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "OFF",
        "output": "str",
        "x": 720,
        "y": 680,
        "wires": [
            [
                "284e7b1fd7064d66"
            ]
        ]
    },
    {
        "id": "edc17ea8d8107d1f",
        "type": "mqtt in",
        "z": "e3db0287044ebd2c",
        "d": true,
        "name": "",
        "topic": "test/line",
        "qos": "1",
        "datatype": "auto",
        "broker": "5d3245bfbfc17903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "b582e6b4731ba346"
            ]
        ]
    },
    {
        "id": "f59a5913df4106d1",
        "type": "debug",
        "z": "e3db0287044ebd2c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "b582e6b4731ba346",
        "type": "template",
        "z": "e3db0287044ebd2c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "LINE NOTI",
        "output": "str",
        "x": 410,
        "y": 280,
        "wires": [
            [
                "f59a5913df4106d1"
            ]
        ]
    },
    {
        "id": "5fbae7a8d8739150",
        "type": "inject",
        "z": "cb50c33d1e2ca771",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "81334b09f982b985"
            ]
        ]
    },
    {
        "id": "81334b09f982b985",
        "type": "change",
        "z": "cb50c33d1e2ca771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "machine",
                "pt": "flow",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "a992b8fde0279f37"
            ]
        ]
    },
    {
        "id": "a992b8fde0279f37",
        "type": "function",
        "z": "cb50c33d1e2ca771",
        "name": "",
        "func": "console.log(flow.get('machine'))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4a6459404b43f8ba",
        "type": "inject",
        "z": "cb50c33d1e2ca771",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "921c0abc80bae56f"
            ]
        ]
    },
    {
        "id": "921c0abc80bae56f",
        "type": "switch",
        "z": "cb50c33d1e2ca771",
        "name": "",
        "property": "machine",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 260,
        "wires": [
            [
                "f95e7cba5bf80bd3"
            ],
            []
        ]
    },
    {
        "id": "c6e00be4e68c6af0",
        "type": "debug",
        "z": "cb50c33d1e2ca771",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "f95e7cba5bf80bd3",
        "type": "template",
        "z": "cb50c33d1e2ca771",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is ON {{payload}}",
        "output": "str",
        "x": 620,
        "y": 260,
        "wires": [
            [
                "c6e00be4e68c6af0"
            ]
        ]
    },
    {
        "id": "33973edd6bab37b1",
        "type": "inject",
        "z": "cb50c33d1e2ca771",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "8db9d2a7b1e4672e"
            ]
        ]
    },
    {
        "id": "8db9d2a7b1e4672e",
        "type": "change",
        "z": "cb50c33d1e2ca771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "machine",
                "pt": "flow",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "a992b8fde0279f37"
            ]
        ]
    }
]