Code/node-red-2/.flows.json.backup
[
    {
        "id": "d443414d5fbfedd1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "642b6fd74c12e7bf",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c841abd90a60b81c",
        "type": "http request",
        "z": "d443414d5fbfedd1",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/html",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 60,
        "wires": [
            [
                "e73f22763a0c4c34"
            ]
        ]
    },
    {
        "id": "41d696886fae3c3f",
        "type": "inject",
        "z": "d443414d5fbfedd1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "c841abd90a60b81c"
            ]
        ]
    },
    {
        "id": "e73f22763a0c4c34",
        "type": "debug",
        "z": "d443414d5fbfedd1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "205d4d51c7ee4736",
        "type": "http request",
        "z": "d443414d5fbfedd1",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/info",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 260,
        "wires": [
            [
                "bb39d7f12b2ab5de"
            ]
        ]
    },
    {
        "id": "ee445ebd6bee7aa7",
        "type": "inject",
        "z": "d443414d5fbfedd1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Yes",
        "payload": "nirand",
        "payloadType": "str",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "205d4d51c7ee4736"
            ]
        ]
    },
    {
        "id": "bb39d7f12b2ab5de",
        "type": "debug",
        "z": "d443414d5fbfedd1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 460,
        "wires": []
    }
]