Code/node-red-1/.flows.json.backup
[
    {
        "id": "b18cbfe091ba6855",
        "type": "tab",
        "label": "Google",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "360e94ece4fe56a9",
        "type": "tab",
        "label": "HTTP Request",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "212ebbe6435f3080",
        "type": "tab",
        "label": "Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3049115b8d3d971d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "23d83776dbd6058f",
        "type": "http request",
        "z": "b18cbfe091ba6855",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "d639491a74b94604"
            ]
        ]
    },
    {
        "id": "d639491a74b94604",
        "type": "debug",
        "z": "b18cbfe091ba6855",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 180,
        "wires": []
    },
    {
        "id": "36ea01f44fd1555b",
        "type": "inject",
        "z": "b18cbfe091ba6855",
        "name": "",
        "props": [
            {
                "p": "่method",
                "v": "get",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://google.com",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "23d83776dbd6058f"
            ]
        ]
    },
    {
        "id": "afd2d72cd7d22c11",
        "type": "inject",
        "z": "360e94ece4fe56a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "618430ca4d2c98b5"
            ]
        ]
    },
    {
        "id": "618430ca4d2c98b5",
        "type": "http request",
        "z": "360e94ece4fe56a9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/hello",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "c8d34c927d2a360a"
            ]
        ]
    },
    {
        "id": "c8d34c927d2a360a",
        "type": "debug",
        "z": "360e94ece4fe56a9",
        "name": "HTTP Request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "370ffc7c53dc2e08",
        "type": "inject",
        "z": "360e94ece4fe56a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "250595159fb2bd20"
            ]
        ]
    },
    {
        "id": "250595159fb2bd20",
        "type": "http request",
        "z": "360e94ece4fe56a9",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/info",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 300,
        "y": 260,
        "wires": [
            [
                "8c9504f246f82248"
            ]
        ]
    },
    {
        "id": "8c9504f246f82248",
        "type": "debug",
        "z": "360e94ece4fe56a9",
        "name": "HTTP Request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "ee1330060e50ca36",
        "type": "http in",
        "z": "212ebbe6435f3080",
        "name": "Hello",
        "url": "hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "4be378a2fed65530",
                "8c76cd529d16b06f"
            ]
        ]
    },
    {
        "id": "4be378a2fed65530",
        "type": "template",
        "z": "212ebbe6435f3080",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "I got your request.",
        "output": "str",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "a97083d6b04fc1ed",
                "461c0b30470e8a39"
            ]
        ]
    },
    {
        "id": "a97083d6b04fc1ed",
        "type": "http response",
        "z": "212ebbe6435f3080",
        "name": "Hello",
        "statusCode": "",
        "headers": {},
        "x": 390,
        "y": 200,
        "wires": []
    },
    {
        "id": "461c0b30470e8a39",
        "type": "debug",
        "z": "212ebbe6435f3080",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "da512e15c485a7cb",
        "type": "http in",
        "z": "212ebbe6435f3080",
        "name": "Info",
        "url": "info",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "4cbe8b9dc2ebf3ad"
            ]
        ]
    },
    {
        "id": "f6d189d5cd7db651",
        "type": "http response",
        "z": "212ebbe6435f3080",
        "name": "post",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 300,
        "wires": []
    },
    {
        "id": "a227b5f3bd29ad86",
        "type": "debug",
        "z": "212ebbe6435f3080",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 560,
        "wires": []
    },
    {
        "id": "9dac34d3eb3e0545",
        "type": "change",
        "z": "212ebbe6435f3080",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "I got your message {{}}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4cbe8b9dc2ebf3ad",
        "type": "function",
        "z": "212ebbe6435f3080",
        "name": "",
        "func": "msg.payload = msg.payload.name + 'sdjkfsjdfkdjfk'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 400,
        "wires": [
            [
                "f6d189d5cd7db651",
                "a227b5f3bd29ad86"
            ]
        ]
    },
    {
        "id": "a2950fdf6cfe39d4",
        "type": "inject",
        "z": "212ebbe6435f3080",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"Content-Type\":\"application/x-www-form-urlencoded\",\"Authorization\":\"Bearer KuF1tHeA5XeIC6jvv3a0fePJwCTfOKhKRJNqydnQzmo\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"Hello\"}",
        "payloadType": "json",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "8c76cd529d16b06f"
            ]
        ]
    },
    {
        "id": "8c76cd529d16b06f",
        "type": "http request",
        "z": "212ebbe6435f3080",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://notify-api.line.me/api/notify",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 740,
        "wires": [
            [
                "cc9a0d8d04a08130"
            ]
        ]
    },
    {
        "id": "cc9a0d8d04a08130",
        "type": "debug",
        "z": "212ebbe6435f3080",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 840,
        "wires": []
    },
    {
        "id": "0310c7e4160a3914",
        "type": "http in",
        "z": "3049115b8d3d971d",
        "name": "HTML",
        "url": "html",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "bb4587fc0df90697"
            ]
        ]
    },
    {
        "id": "6a24f3bb92fc0186",
        "type": "http response",
        "z": "3049115b8d3d971d",
        "name": "HTML",
        "statusCode": "",
        "headers": {},
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "879b0bdef94715f7",
        "type": "debug",
        "z": "3049115b8d3d971d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "bb4587fc0df90697",
        "type": "file in",
        "z": "3049115b8d3d971d",
        "name": "",
        "filename": "html/index.html",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "6a24f3bb92fc0186",
                "879b0bdef94715f7"
            ]
        ]
    }
]