Code/node-red-1/flows.json
[
    {
        "id": "b18cbfe091ba6855",
        "type": "tab",
        "label": "Google",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "360e94ece4fe56a9",
        "type": "tab",
        "label": "HTTP Request",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "212ebbe6435f3080",
        "type": "tab",
        "label": "Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3049115b8d3d971d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dedfba256312356e",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e464c3096fa78b4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2ff557d85497cf2a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c07a1508a4bce39c",
        "type": "ui_group",
        "name": "Default",
        "tab": "0e464c3096fa78b4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5d3245bfbfc17903",
        "type": "mqtt-broker",
        "name": "ProdSup",
        "broker": "35.240.248.118",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "23d83776dbd6058f",
        "type": "http request",
        "z": "b18cbfe091ba6855",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "d639491a74b94604"
            ]
        ]
    },
    {
        "id": "d639491a74b94604",
        "type": "debug",
        "z": "b18cbfe091ba6855",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "36ea01f44fd1555b",
        "type": "inject",
        "z": "b18cbfe091ba6855",
        "name": "",
        "props": [
            {
                "p": "่method",
                "v": "get",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://google.com",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "23d83776dbd6058f"
            ]
        ]
    },
    {
        "id": "afd2d72cd7d22c11",
        "type": "inject",
        "z": "360e94ece4fe56a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "618430ca4d2c98b5"
            ]
        ]
    },
    {
        "id": "618430ca4d2c98b5",
        "type": "http request",
        "z": "360e94ece4fe56a9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/hello",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "c8d34c927d2a360a"
            ]
        ]
    },
    {
        "id": "c8d34c927d2a360a",
        "type": "debug",
        "z": "360e94ece4fe56a9",
        "name": "HTTP Request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "370ffc7c53dc2e08",
        "type": "inject",
        "z": "360e94ece4fe56a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "250595159fb2bd20"
            ]
        ]
    },
    {
        "id": "250595159fb2bd20",
        "type": "http request",
        "z": "360e94ece4fe56a9",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/info",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 300,
        "y": 260,
        "wires": [
            [
                "8c9504f246f82248"
            ]
        ]
    },
    {
        "id": "8c9504f246f82248",
        "type": "debug",
        "z": "360e94ece4fe56a9",
        "name": "HTTP Request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "ee1330060e50ca36",
        "type": "http in",
        "z": "212ebbe6435f3080",
        "name": "Hello",
        "url": "hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "4be378a2fed65530"
            ]
        ]
    },
    {
        "id": "4be378a2fed65530",
        "type": "template",
        "z": "212ebbe6435f3080",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "I got your request.",
        "output": "str",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "a97083d6b04fc1ed",
                "461c0b30470e8a39"
            ]
        ]
    },
    {
        "id": "a97083d6b04fc1ed",
        "type": "http response",
        "z": "212ebbe6435f3080",
        "name": "Hello",
        "statusCode": "",
        "headers": {},
        "x": 390,
        "y": 200,
        "wires": []
    },
    {
        "id": "461c0b30470e8a39",
        "type": "debug",
        "z": "212ebbe6435f3080",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "da512e15c485a7cb",
        "type": "http in",
        "z": "212ebbe6435f3080",
        "name": "Info",
        "url": "info",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "4cbe8b9dc2ebf3ad"
            ]
        ]
    },
    {
        "id": "f6d189d5cd7db651",
        "type": "http response",
        "z": "212ebbe6435f3080",
        "name": "post",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 300,
        "wires": []
    },
    {
        "id": "a227b5f3bd29ad86",
        "type": "debug",
        "z": "212ebbe6435f3080",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 560,
        "wires": []
    },
    {
        "id": "9dac34d3eb3e0545",
        "type": "change",
        "z": "212ebbe6435f3080",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "I got your message {{}}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4cbe8b9dc2ebf3ad",
        "type": "function",
        "z": "212ebbe6435f3080",
        "name": "",
        "func": "msg.payload = msg.payload.name + 'sdjkfsjdfkdjfk'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 400,
        "wires": [
            [
                "f6d189d5cd7db651",
                "a227b5f3bd29ad86"
            ]
        ]
    },
    {
        "id": "a2950fdf6cfe39d4",
        "type": "inject",
        "z": "212ebbe6435f3080",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"Content-Type\":\"application/x-www-form-urlencoded\",\"Authorization\":\"Bearer KuF1tHeA5XeIC6jvv3a0fePJwCTfOKhKRJNqydnQzmo\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"Hello\"}",
        "payloadType": "json",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "8c76cd529d16b06f"
            ]
        ]
    },
    {
        "id": "8c76cd529d16b06f",
        "type": "http request",
        "z": "212ebbe6435f3080",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://notify-api.line.me/api/notify",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 740,
        "wires": [
            [
                "cc9a0d8d04a08130"
            ]
        ]
    },
    {
        "id": "cc9a0d8d04a08130",
        "type": "debug",
        "z": "212ebbe6435f3080",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 840,
        "wires": []
    },
    {
        "id": "0310c7e4160a3914",
        "type": "http in",
        "z": "3049115b8d3d971d",
        "name": "HTML",
        "url": "html",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "bb4587fc0df90697"
            ]
        ]
    },
    {
        "id": "6a24f3bb92fc0186",
        "type": "http response",
        "z": "3049115b8d3d971d",
        "name": "HTML",
        "statusCode": "",
        "headers": {},
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "879b0bdef94715f7",
        "type": "debug",
        "z": "3049115b8d3d971d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "bb4587fc0df90697",
        "type": "file in",
        "z": "3049115b8d3d971d",
        "name": "",
        "filename": "html/index.html",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "6a24f3bb92fc0186",
                "879b0bdef94715f7"
            ]
        ]
    },
    {
        "id": "b662ca0d9a6fffc0",
        "type": "mqtt in",
        "z": "dedfba256312356e",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "auto",
        "broker": "5d3245bfbfc17903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "b55c57ca76abe546"
            ]
        ]
    },
    {
        "id": "e8b42f37c0225196",
        "type": "ui_text",
        "z": "dedfba256312356e",
        "group": "c07a1508a4bce39c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "b55c57ca76abe546",
        "type": "function",
        "z": "dedfba256312356e",
        "name": "",
        "func": "\n\nconst payloadJSON =  JSON.parse(msg.payload);\nconst values = payloadJSON['LSM6DSO Acceleration Sensor'].values\n\nconst norm = Math.sqrt( values[0]**2 + values[1]**2 + values[2]**2)\nmsg.payload = norm\n\n\nconsole.log(norm)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 240,
        "wires": [
            [
                "e8b42f37c0225196",
                "a140fb6ad9eac996"
            ]
        ]
    },
    {
        "id": "bbea1c5358e2c6c0",
        "type": "debug",
        "z": "dedfba256312356e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "b59304987ee4f56b",
        "type": "inject",
        "z": "dedfba256312356e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "b55c57ca76abe546"
            ]
        ]
    },
    {
        "id": "a140fb6ad9eac996",
        "type": "switch",
        "z": "dedfba256312356e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 380,
        "wires": [
            [
                "90ea110c514838e4"
            ],
            []
        ]
    },
    {
        "id": "4b6f65dd04ac59f0",
        "type": "http request",
        "z": "dedfba256312356e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://notify-api.line.me/api/notify",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 580,
        "y": 580,
        "wires": [
            [
                "0dc3e17b2962ebe4"
            ]
        ]
    },
    {
        "id": "0dc3e17b2962ebe4",
        "type": "debug",
        "z": "dedfba256312356e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 640,
        "wires": []
    },
    {
        "id": "90ea110c514838e4",
        "type": "function",
        "z": "dedfba256312356e",
        "name": "",
        "func": "msg.payload = {\n    \nmessage: `Value is ${msg.payload}`    \n}\n\n\nmsg.headers = {\"Content-Type\":\"application/x-www-form-urlencoded\",\"Authorization\":\"Bearer KuF1tHeA5XeIC6jvv3a0fePJwCTfOKhKRJNqydnQzmo\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 460,
        "wires": [
            [
                "bbea1c5358e2c6c0",
                "4b6f65dd04ac59f0"
            ]
        ]
    }
]